.container{max-width: 1920px;min-width: 1000px;min-height: 5640px;margin: 0 auto;background: #e44331;overflow-x: hidden;}
.w1280{width: 1280px;margin: 0 auto;}
.w1000{width: 1000px;margin: 0 auto;}
.common_denglong{width: 100%;height: 54px;}
.common_denglong img{margin-left: -160px;margin-top: -15px;}
.common_zhengwen_textbg{width: 960px;height: 80px;line-height: 80px;background: url(../img/common/textbg.jpg) no-repeat;color: #ffe397;font-size: 30px;text-align: center;}
.yellow_zhengwen_textbg{background-image: url(../img/shushuo/textbg.jpg);color: #dd1313;}
.jianzhiL{position: absolute;left: -330px;z-index: 2;top: 1382px;}
.jianzhiR{position: absolute;top: 1110px;right: -320px;z-index: 2;}
.jianzhiB{position: absolute;bottom: 0;left: 0;right: 0;background: url(../img/common/jianzhiB.png) no-repeat center center;height: 526px;}


/*.sideNav*/
.sideNav{width: 145px;height: 594px;position: fixed;top: 50%;right: 0;margin-top: -297px;z-index: 99999999999;background: url(../img/common/sidenav.png) no-repeat;}
.sideNav_baoming{width: 146px;height: 40px;line-height: 40px;text-align: center;}
.sideNav_btn{width: 128px;height: 323px;position: absolute;left: 50%;margin-left:-64px;bottom:115px;color: #FFFFFF;font-size: 16px;}
.sideNav_btn li{border-bottom: 1px solid #b00d13;text-align: center;line-height: 45px;cursor: pointer;}
/*.sideNav*/



/*.banner*/
.banner{height: 1013px;background: url(../img/banner/bannerbg.png) no-repeat center center;}
.banner_logo{position: absolute;left: 140px;top: 62px;z-index: 2;}
.banner_qr{position: absolute;left: 682px;top: 63px;z-index: 3;}
.banner_boat{position: absolute;left: 447px;top: 42px;z-index: 2;}
.banner_zhudan{position: absolute;top: 154px;left: 103px;z-index: 2;}
.banner_light{position: absolute;top: 183px;left: 632px;z-index: 2;-webkit-animation:lightAffect .45s infinite alternate linear;-ms-animation:lightAffect .45s infinite alternate linear;-moz-animation:lightAffect .45s infinite alternate linear;animation:lightAffect .45s infinite alternate linear;}
.banner_tit{position: absolute;top: 208px;left: 658px;z-index: 2;}
.banner_cai{position: absolute;top:210px;left: -123px;z-index: 3;}
.banner_tie{position: absolute;top: 0;left: -150px;width: 15%;}
.banner_time,.banner_phone{position: absolute;z-index: 4;left:615px;top: 649px;width: 416px;height: 54px;color: #ffe397;font-size: 28px;text-align: center;line-height: 54px;background: url(../img/banner/textbg.jpg) no-repeat;}
.banner_phone{top: 713px;}
.banner_baoming{position: absolute;z-index: 4;right: 120px;top: 649px;width: 118px;height: 118px;}
.banner_wuding{position: absolute;z-index: 3;top: 450px;left: -81px;}
/*.banner*/
.zhengwen{margin-top: -169px;}
.zhengwen_con{margin-top: -3px;width: 960px;border: 20px solid #ec1919;border-top: 0;position: relative;z-index: 333;background-color: #6e0303;}
/*.zixun*/
.zixun{padding-top: 23px;padding-bottom: 13px;}
.zixun .common_zhengwen_textbg{margin-bottom: 10px;}
.zixun_left{margin-left: 11px;}
.zixun_right{margin-right: 11px;}
.zixun_textbg{width: 460px;height: 50px;line-height: 50px;background: url(../img/zixun/textbg.jpg) no-repeat;color: #dd1313;text-align: center;font-size: 20px;}
.zixun_textcon{width: 460px;height: 380px;background-color: #ffffff;overflow: hidden;}
.zixun_common_wra{width: 411px;height: 335px;overflow:auto;overflow-x: hidden;margin: 0 auto;margin-top: 13px;}
.zixun_common{height: 107px;border-bottom: 1px solid #d9d9d9;position: relative;padding-top: 2px;}
.zixun_common h1{color: #cf2323;font-size: 16px;text-align: left;margin-top: 0px;}
.zixun_common p{font-size: 13px;text-align: left;}
.zixun_common a{position: absolute;right: 0px;bottom: 12px;font-size: 13px;}
.zixun_right .zixun_common_wra{overflow: hidden;margin-top: 13px;}
.zixun_right_common{margin-top:2px;}
.zixun_right_common_tit{background-color: #DD1313;color: #ffe397;padding: 0 10px;font-weight: bold;font-size: 13px;line-height: 26px;}
.zixun_right_common_tit2{text-indent: 10px;font-size: 13px;}
.zixun_right_common span img{position: absolute;right: -8px;top: 0;font-size: 16px;}
.zixun_right_huigu{background-color: #dd1313;width: 400px;margin-left: 1px;margin-top: 3px;text-align: center;}
.zixun_right_huigu a{color: #FFE397;font-weight: bold;font-size: 14px;}
/*.zixun*/
/*.zhanlue*/
.zhanlue{padding-bottom: 11px;}
.zhanlue_support{margin-top: 15px;}
/*.zhanlue*/

/*.city*/
.city{padding-bottom: 11px;}
.city_map{margin-top: 26px;}
.city_btn{position: absolute;right: 180px;bottom:212px;}
/*.city*/

/*hudong*/
.hudong{padding-bottom: 11px;}
.hudong_wra{width: 938px;height: 413px;background: url(../img/hudong/huodongbg.png) no-repeat;margin: 0 auto;margin-top: 11px;}
.huodong_tit{position: absolute;bottom: -25px;width:100%;font-size: 14px;color: #FFE397;text-align: center;font-size-adjust:100%}
.hudong_qr{width: 230px;height: 230px;position: absolute;left: 50%;margin-left: -115px;top: 50%;margin-top: -115px;cursor: pointer;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s;}
.hudong_qr1{left: 170px;}
.hudong_qr3{left: 770px;}
.hudong_qr img{width: 100%;}
.hudong_qr:hover{width: 350px;height: 350px;margin-left: -175px;margin-top: -175px;}
/*hudong*/
/*newsplayer*/
.newsplayer,.liveplayer{padding-top: 22px;padding-bottom: 22px;}
.newsplayer_wra,.liveplayer_wra{width: 938px;height: 598px;border: 1px solid #ffe497;margin: 0 auto;background-color: #d52124;margin-top: 20px;}
.newsplayer_bigcon,.liveplayer_bigcon{width: 759px;height: 598px;overflow: hidden;border-right: 1px solid #FFE497;}
.newsplayer_smallcon,.liveplayer_smallcon{width: 160px;height: 578px;margin: 9px;position: relative;}
.newsplayer_smalloutside,.liveplayer_smalloutside{width: 160px;height: 510px;text-align: center;overflow:hidden;}
.newsplayer_smallinside,.liveplayer_smallinside{position: absolute;top:0px;height: 510px;width: 160px;}
.newsplayer_wra .top,.liveplayer_wra .top{margin-bottom: 10px;cursor: pointer;}
.newsplayer_wra .bot,.liveplayer_wra .bot{margin-top: 10px;cursor: pointer;}
.small{width: 160px;height: 120px;overflow: hidden;float: left;margin: 0 auto;margin-bottom: 10px;}
/*newsplayer*/
/*.huigu*/
.huigu{padding-top: 22px;padding-bottom: 31px;}
/*.huigu*/
/*.shushuo*/
.shushuo{padding-bottom: 24px;}
.shushuo_licheng{margin-top: 24px;}
/*.shushuo*/
@-webkit-keyframes lightAffect{
	0%{opacity: 1;}
	100%{opacity: .5;}
}
@-ms-keyframes lightAffect{
	0%{opacity: 1;}
	100%{opacity: .5;}
}
@-moz-keyframes lightAffect{
	0%{opacity: 1;}
	100%{opacity: .5;}
}
@keyframes lightAffect{
	0%{opacity: 1;}
	100%{opacity: .5;}
}





