.bg{
	width:640px;
	height:1136px;
	margin:0 auto;
	text-align:center;
	background:url('../images/bg.png') no-repeat;
}

.content{
	width:560px;
	height:910px;
	margin:0 auto;
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-455px;
	margin-left:-280px;
}

.logo{
	width:560px;
	height:42px;
	background:url('../images/logo.png');
}

.biaoti{
	width:640px;
	height:421px;
	background:url('../images/1.png');
	margin-left:-40px;
	margin-top:50px;
}
.btn{
	width:363px;
	height:61px;
	background:url('../images/btn.png');
	margin-left:110px;
	margin-top:12px;
	padding-top:5px;
}
.wz{
	font-size:30px;
	color:#451b11;
}
.bot{
	background:url('../images/bot.png');
	width:187px;
	height:45px;
	margin-left:200px;
	margin-top:10px;
}
.pop_sel{
	background:url('../images/bg2.png');
	width:560px;
	height:766px;
	margin-top:-820px;
	position:absolute;
	display:none;
	z-index:6;
}
.pop_con{
	width:506px;
	height:724px;
	background:url('../images/01.png');
	margin-left:25px;
	margin-top:25px;
}
.opa_bg{
	background-color:#000;
	position:fixed;
	top:0px;
	left:0px;
	filter:alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;
	display:none;
	z-index:5;
	width: 100%;
	height:100%;
}
.pop_title{
	font-size:50px;
	color:white;
	position:absolute;
	margin-left:50px;
	margin-top:8px;
	font-family:微软雅黑;
	font-weight: bold;
}
.input_bg{
	width:560px;
	height:392px;
	background:url('../images/input.png');
	position:absolute;
	margin-top:-670px;
	z-index:6;
	float:left;
	display:none;
}
.input_t{
	height:50px;
	width:400px;
	border:1px solid #bdbdbd; 
	border-radius:5px;
	margin-top:30px;
}
.input_btn{
	width:280px;
	height:56px;
	margin-top:35px;
	margin-left:140px;
	background:url('../images/input_btn.png');
	font-family:微软雅黑;
	font-weight: bold;
	color:white;
	font-size:1.2em;
	padding-top:3px;
}
.input_success{
	width:560px;
	height:392px;
	background:url('../images/input2.png');
	position:absolute;
	margin-top:-670px;
	z-index:6;
	display:none;
}