@charset "utf-8";
/* Reset */
body,html{height: 100%;width: 100%;font-size: 1.6rem;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,header,footer{ margin:0; padding:0; }
html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 100%; }
body {color: #333333; background-color: white; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch;}
html,body,button, input, select, textarea { font-family:FZSJKK,"Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;}
ul,ol,li{ list-style-type:none;}
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
fieldset, img { border:0;outline: 0; }
table { border-collapse:collapse; border-spacing:0; }
button { border: 0 none; }
img,p,label{-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
h1, h2, h3 {font-weight: normal;}
h1,.big{ font-size: 1.8rem;}
h2,.mid{ font-size: 1.6rem;}
h3,.small{ font-size: 1.4rem;}
p,label,input,option,select,textarea{font-size: 1.4rem;}
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.f12{font-size: 1.2rem;}
.f14{font-size: 1.4rem;}
.f16{font-size: 1.6rem;}
.f18{font-size: 1.8rem;}
.f20{font-size: 2.0rem;}
.hor{display:-webkit-box;display:-ms-flexbox;-webkit-box-orient:horizontal;-ms-flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-box-align:center;-ms-flex-align:center;}
.ver{display:-webkit-box;display:-ms-flexbox;-webkit-box-orient:vertical;-ms-flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-box-align:center;-ms-flex-align:center;}
.aligin_end{-webkit-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end;}
.aligin_start{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;}
.pack_justify{-webkit-box-pack: justify;-ms-flex-pack:justify;-webkit-justify-content: space-between;justify-content:space-between;}
.pack_start{-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;}
.pack_end{-webkit-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;}
.t_center{text-align: center;}
.t_left{text-align:left;}
.t_right{text-align:right;}
.absolute{position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 3;}
.relative{position: relative;}
.maskBlack{background-color: rgba(0,0,0,0.9);}
.clear{clear: both;}
.f_l{float: left;}
.f_r{float: right;}
.n_wrapper{width: 100%;height: 100%;}
div,img{-webkit-user-select: none;-ms-user-select: none;}
