html,body,div,span,strong,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-size:100%;font-weight:normal;margin:0;padding:0;}
body{font-family:"Microsoft YaHei","Helvetica", sans-serif;margin:0px;padding:0;border:0px;;background-color: #fafafa;color:#333;font-size:12px}
a:hover{color:#FF6325;text-decoration:none;}
a{color:#333;text-decoration:none;outline:none}
.f14{/*font-size:14px*/}
.f16{font-size:16px}
.f18{font-size:18px}
.f24{font-size:24px}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
.orange{color:#FF6325}
.red{color:#c70000}
.grey{color:#999}
.l{float:left}
.r{float:right}
.hide{display:none}
.disableBtn{background:#999!important}
.loadingImg{background:url(../../common/images/loading.gif) no-repeat center center;background-size:80%;min-height:75px}
.orangeIcon{border:1px solid #FF6325;background:#fff;color:#FF6325;border-radius: 5px;}
.greyIcon{border:1px solid #d7d7d7;background:#fff;color:#999;border-radius: 5px;}
/*客服*/
.toTop{width:50px;height:50px;position:fixed;bottom:65px;right:10px;background:url(../images/sprite.png) no-repeat 0 -106px;background-size:49px }
.service{width:50px;height:30px;position:fixed;bottom:25px;right:10px;text-align:center}
.service .bg{width:100%;height:100%;position:absolute;bottom:0;left:0;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;}
.service a{color:#fff;z-index:1;line-height: 30px;position:relative}
/* header */
.header{height:40px;line-height:42px;margin-bottom:10px;background:#fff;box-shadow: 0px 1px 2px #d7d7d7;overflow:hidden}
.header .backIcon{width: 40px;height: 38px;line-height: 38px;text-indent: 15px;display: block;background: url(../images/sprite.png) no-repeat;background-size: 45px;background-position: 5px -410px;position: relative;z-index: 1;}
.header .homeIcon{width: 40px;height: 38px;display: block;background: url(../images/sprite.png) no-repeat;background-size: 45px;background-position: 11px -450px;position: relative;z-index: 1;}
.header p{width:75%;margin:0 auto;text-align:center;font-size:16px}
/*foot*/
.footBox{width:100%;height:50px;line-height:50px;position:fixed;bottom:0;left:0;z-index:10;box-shadow:0px 1px 5px #d7d7d7;border-top:1px solid #d7d7d7;background:#fff}
/*comTips*/
.comTips{width:100%;line-height:40px;text-align:center;position:fixed;top:0;left:0;background:#c70000;color:#fff}
/*统计图片*/
.stats_code img{width:0;height:0;display:none}