/** Stage container **/
.connected-carousels {position: relative;width: 469px; margin-left:21px;}
.connected-carousels .stage {
	width: 496px;
	margin: 20px auto;
	position: absolute;
	right:-590px;
	top:-225px;
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.connected-carousels .photo-credits a {
    color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
	width: 469px;
	position: relative;
	background-image: url(../images/boss-box.png);
	background-repeat: no-repeat;
	height: 139px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-top:22px;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;


}
.connected-carousels .carousel-stagei li {
    float: left;
	width:300px;

}
.connected-carousels .carousel-navigation li {
    float: left;

}





/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    height: 332px;

}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
  
    width: 406px;
	margin-left:29px;


}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
	
}

.connected-carousels .carousel-navigation li img {
    display: block;
    border: 1px solid #06F;
	margin-left:8px;margin-right:1px;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 305px;
    height: 410px;
    color: #fff;
}

.connected-carousels .prev-stage {
    left: 0;
}

.connected-carousels .next-stage {
    right: 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-stage span {
    left: 20px;
}

.connected-carousels .next-stage span {
    right: 20px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    /*background: #4E443C;*/
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    /*-webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
			opacity: .3;
}

.connected-carousels .prev-navigation {
    left: 2px;
    top: 55px;
    text-indent: 6px;
}

.connected-carousels .next-navigation {
    right: 4px;
    top: 55px;
    text-indent: 20px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .1;
    cursor: default;
}

.talk-box .video-box .spa {
	height: 262px;
	width: 469px;
	margin-top: 18px;
	margin-right: auto;
	margin-left: auto;
}

.carbox { width:500px; height:332px;}
.carbox div h2 { font-size:20px; font-weight:bold; line-height:38px;}
.carbox div p { font-size:14px; line-height:24px; margin-top:12px;}