@charset "utf-8";
html,body,div,span,strong,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead{border:0;font-size:100%;font-weight:normal;margin:0;padding:0;}
body{font: 10px/1.75 "Microsoft YaHei" "SimSun" "Hiragino Sans GB";color: #fff6dd;margin: 0;padding: 0;}
a{text-decoration:none;outline: none;}
a img,img{border:0;vertical-align: top;}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
    outline:none;
}

/*loading*/
.cn-spinner{

background: #fff;
-webkit-font-smoothing: subpixel-antialiased;z-index:100000;position:absolute;top:0;right:0;bottom:0;left:0;}
.cn-spinner .spinner{width:40px;height: 40px;position:absolute;left:50%;top:40%;margin-left:-20px;}
.cn-spinner .container1 > div, .cn-spinner .container2 > div, .cn-spinner .container3 > div{width: 10px;height: 10px;background-color: #fff;border-radius:10px;-webkit-border-radius: 10px;position: absolute;-webkit-animation: bouncedelay 1.2s infinite ease-in-out;animation: bouncedelay 1.2s infinite ease-in-out;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.cn-spinner .spinner .spinner-container{position: absolute;width: 100%;height: 100%;}
.cn-spinner .container2{-webkit-transform: rotateZ(45deg);transform: rotateZ(45deg);}
.cn-spinner .container3{-webkit-transform: rotateZ(90deg);transform: rotateZ(90deg);}
.cn-spinner .circle1{top: 0;left: 0;}
.cn-spinner .circle2{top: 0;right: 0;}
.cn-spinner .circle3{right: 0;bottom: 0;}
.cn-spinner .circle4{left: 0;bottom: 0;}
.cn-spinner .container2 .circle1{-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.cn-spinner .container3 .circle1{-webkit-animation-delay: -1.0s;animation-delay: -1.0s;}
.cn-spinner .container1 .circle2{-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.cn-spinner .container2 .circle2{-webkit-animation-delay: -0.8s;animation-delay: -0.8s;}
.cn-spinner .container3 .circle2{-webkit-animation-delay: -0.7s;animation-delay: -0.7s;}
.cn-spinner .container1 .circle3{-webkit-animation-delay: -0.6s;animation-delay: -0.6s;}
.cn-spinner .container2 .circle3{-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}
.cn-spinner .container3 .circle3{-webkit-animation-delay: -0.4s;animation-delay: -0.4s;}
.cn-spinner .container1 .circle4{-webkit-animation-delay: -0.3s;animation-delay: -0.3s;}
.cn-spinner .container2 .circle4{-webkit-animation-delay: -0.2s;animation-delay: -0.2s;}
.cn-spinner .container3 .circle4{-webkit-animation-delay: -0.1s;animation-delay: -0.1s;}
@-webkit-keyframes bouncedelay{0%, 80%, 100%{-webkit-transform: scale(0.0)}
40%{-webkit-transform: scale(1.0)}}
@keyframes bouncedelay{0%, 80%, 100%{transform: scale(0.0);-webkit-transform: scale(0.0);}
40%{transform: scale(1.0);-webkit-transform: scale(1.0);}}


/*********************分隔线************************/
body{background:#300707;}
body,html,.swiper-slide{overflow-x:hidden;height:100%;width: 100%}
.swiper-container {
  width:100%;
  height: 100%;
  color: #fff6dd;
  overflow:hidden;
  margin:0 auto;
}
.swiper-slide {
    width:100%;
   
    float:left;
    position:relative;
}
.container{margin:0 auto;position:relative;}
.cn-img img{width:100%;display:block;}

/*Basic Swiper Styles */
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}
.swiper-container{background:#fff;color:#fff6dd;}
.swiper-pages {
	height: 100%;
	width: 100%;
    min-width: 1200px;
}
.scroll-container {
	height: 100%;
	width: 100%;
}
.scroll-container .swiper-slide {
	width: 100%;
}
.page-inner {
	padding: 15px 20px;
}
.swiper-slide .title {
	font-style: italic;
	font-size: 42px;
	margin-top: 80px;
	margin-bottom: 0;
	line-height: 45px;
	text-align:center;
}
/* Scrollbars */
.swiper-scrollbar {
	position: absolute;
	right: 5px;
	top: 2%;
	width: 5px;
	height: 96%;
	background: rgba(0,0,0,0.2);
	z-index: 10;
}
.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(255,255,255,0.5);
	border-radius: 10px;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}


*{-webkit-tap-highlight-color: rgba(0,0,0,0)}

/*content*/
.wraper{width:640px;margin:0 auto;position:relative;}
.swiper-slide .bg{width:100%;}
.swiper-slide .bg img{width:100%;}
.swiper-slide .container{}
.am{position:absolute;}
.am img{width:100%;}
.logo{
	position: absolute;
	top: 5%;
    width: 16%;
    left: 18%;
}

/****main*****/
.swiper-container{
	background:url(../images/bg.jpg);
	background-size:100% 100%;
}
/*page-1*/
.page-1{
	width: 100%;
	height: 100%;
	
}
.page-1 .am1{
	width: 74%;
	left: 13%;
	bottom: 0;
}
.page-1 .am2{
	width: 28%;
    left: 56%;
    top: 70%;
    font-size: 14px;
}

/*page-2*/
.page-2{
	width: 100%;
	height: 100%;
}
.page-2 .am1{
	width: 33%;
    left: 12%;
    top: 18%;
}
.page-2 .am2{
	width: 33%;
    right: 12%;
    top: 18%;
}
.page-2 .am3{
	width: 28%;
    left: 16%;
    top: 63%;
    color: #fff;
    font-size: 13px;
    text-indent: 2em;
}
.page-2 .am4{
	width: 28%;
    right: 16%;
    color: #fff;
    top: 63%;
    font-size: 13px;
    text-indent: 2em;
}

/*page-3*/
.page-3{
	width: 100%;
	height: 100%;
}
.page-3 .am1{
	width: 33%;
    left: 12%;
    top: 18%;
}
.page-3 .am2{
	width: 33%;
    right: 12%;
    top: 18%;
}
.page-3 .am3{
	width: 26%;
    left: 20%;
    top: 26%;
    color: #fff;
    font-size: 13px;
}
.page-3 .am4{
	width: 16%;
    right: 20%;
    color: #8f7171;
    top: 55%;
    font-size: 12px;
    text-indent: 2em;
}


/*page-4*/
.page-4{
	width: 100%;
	height: 100%;
}
.page-4 .am1{
	width: 33%;
    left: 12%;
    top: 18%;
}
.page-4 .am2{
	width: 33%;
    right: 12%;
    top: 18%;
}
.page-4 .am3{
	width: 30%;
    left: 16%;
    top: 26%;
    color: #fff;
    font-size: 13px;
    text-indent: 2em;
}
.page-4 .am4{
	width: 28%;
    right: 12%;
    color: #fff;
    top: 26%;
    font-size: 13px;
}

/*page-5*/
.page-5{
	width: 100%;
	height: 100%;
}
.page-5 .am1{
	width: 33%;
    left: 12%;
    top: 18%;
}
.page-5 .am2{
	width: 33%;
    right: 12%;
    top: 18%;
}
.page-5 .am3{
	width: 24%;
    right: 17%;
    top: 46%;
}

.page-5 .am4{
	width: 2%;
    right: 41%;
    top: 55%;
    z-index: 10;
}
.page-5 .am5{
	width: 2%;
    right: 15%;
    top: 55%;
    z-index: 10;
}
.page-5 .am6{
	width: 31%;
    right: 13.5%;
    top: 74%;

}
/*.page-5 .am7{
	width: 30%;
    left: 16%;
    top: 25%;
    color: #fff;
}*/
.layer{ display:block;}
.yezi{
	top:0;
	left: 0;
	width: 1920px;
	/*height: 100%;*/
	right: 0;
	bottom: 0;
	position: absolute;
	/*background:url(../images/yezi.png);
	background-size:100% 100%;*/
	overflow:hidden;
}
.yezi img{
	width: 100%;
	height: 100%;
}


/*右侧导航*/
#pagination1 {   
 position: absolute;
    right: 50px;
    text-align: center;
    top: 30%;
    width: 15px;
}
#pagination1 .swiper-pagination-switch {
	display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 4px 5px;
    cursor: pointer;
    border: 1px solid #fff6dd;
}
#pagination1 .swiper-active-switch {background: #fff;}
/*responsive*/
.container,.wraper,.nav,.cn-slidetips{width:100%;}
.container {height:100%;overflow:hidden;}


/*专题 通用底部*/

.foot_zt {
    width:100%;
    color: #fff;
    text-align:center;
    font-size:18px;
    position: absolute;
    bottom: 20px;
}


/*通用头部*/
.topnav{
padding:0 0px;height:36px;background:#000;background:rgba(0,0,0,0.85);
position:fixed;_position:absolute;top:0;left:0;z-index:9999;width:100%;
box-shadow:0px 3px 8px rgba(0,0,0,0.3); 
}
.topnav .logo{display:block;position:absolute;left:0;top:5px;width:181px;height:26px;background:url('http://zt.jia360.com/public/images/logo.png') no-repeat;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://zt.jia360.com/public/images/logo.png',sizingMethod='scale');overflow:hidden;text-indent:-9999px;}
.mininav{width:1000px;height:30px;margin:0 auto;position:relative;z-index:999999}
.mininav,.mininav a,.mininav a:link ,.mininav .hychannel p.up,.mininav .hychannel ul a,.mininav .hychannel ul a:link{color:#ccc}
.mininav a:hover ,.mininav .hychannel ul a:hover{color:#fff;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.mininav  a:hover{text-decoration:underline;}
.mininav .yt{display:inline-block;float:left;height:30px;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;line-height:30px;padding:0 10px;}
.mininav .mr{margin-left:185px;font-family:"SimSun","宋体";}
.mininav .l{float:right;line-height:36px;}
.mininav .nt{float:right;padding:0 5px;line-height:36px;position:relative;z-index:99999}
.mininav .cm{float:right;width:66px;height:36px;position:relative}
.mininav .cm p{width:66px;height:36px;line-height:36px;text-indent:6px;background:url('http://zt.jia360.com/public/images/yt_ico_c.png') 40px 6px no-repeat;color:#fff;cursor:pointer;position:absolute;z-index:99999;left:0;top:0;}
.mininav .cmhover p{background:url('http://zt.jia360.com/public/images/yt_ico_c.png') 40px -28px no-repeat;}
.tabcity{display:none;width:410px;padding:0 20px;color:#9b763b;position:absolute;right:0;top:34px;z-index:999999;overflow:hidden}
.tabcity .ht{width:400px;height:30px;line-height:30px;font-weight:bold;position:relative;z-index:9999}
.tabcity .ht .l{display:block;width:332px;height:10px;overflow:hidden;border-bottom:1px solid #9b763b;position:absolute;right:0;top:6px}
.tabcity .ht a,.tabcity .ht b{line-height:30px;font-weight:normal}
.tabcity .ht span b{margin-right:5px;}
.tabcity .cityall{height:120px;}
.tabcity .citylist{float:left;width:68px;position:relative;z-index:9999}
.tabcity .citylist li{line-height:20px;color:#999}
.tabcity .citylist li a{color:#333}
.tabcity .citylist li b{color:#af874b}
.tabcity .citylist li span{padding-right:8px;font-size:14px;font-weight:bold;}
.tabcity .citylist li span.n{font-size:12px;font-weight:normal;}
.tabcity .tcmask{width:450px;height:260px;background:#f5f0e8;opacity:0.9;filter:alpha(opacity=90);position:absolute;left:0;top:2px;z-index:999}
.mininav .hychannel{float:right;width:78px;height:36px;position:relative;top:0px;z-index:999999}
.mininav .hychannel p{width:78px;height:36px;line-height:36px;text-indent:8px;background:url('http://zt.jia360.com/public/images/tico.png') 60px 9px no-repeat;cursor:pointer;position:absolute;z-index:99999;left:0;top:0;  color: #ccc;  -webkit-margin-before: 0;-webkit-margin-after: 0;}
.mininav .hychannel p{height:36px;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.mininav .hychannel p.up{background:url('http://zt.jia360.com/public/images/tico.png') 60px -18px no-repeat;}
.mininav .hychannel ul.tg{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);opacity: 1;display: block;}
.mininav .hychannel ul{display:none\9;width:310px;padding:5px 10px;background: rgba(0,0,0,.6);background:#333\9;position:absolute;z-index:999;right:-3px;top:35px;border: 1px solid #000;border-top:none;opacity: 0;-webkit-transform: scale(0);-webkit-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-webkit-transform-origin: right top;-moz-transform: scale(0);-moz-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-moz-transform-origin: right top;-ms-transform: scale(0);-ms-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-ms-transform-origin: right top;box-shadow: 0 1px 5px rgba(0,0,0,.2);}
.mininav .hychannel ul.whz{width:140px;}
.mininav .hychannel ul a{display:inline-block;height:22px;line-height:22px;padding:0 7px;} 



.animation{display:none;}
.animation.hinge {
	-webkit-animation:2s ease;
	-moz-animation:2s ease;
	-ms-animation:2s ease;
	-o-animation:2s ease;
	animation:2s ease
}
.animation {
	-webkit-animation-duration:1s;
	-webkit-animation-delay:.2s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-fill-mode:both;
	-moz-animation-duration:1s;
	-moz-animation-delay:.2s;
	-moz-animation-timing-function:ease;
	-moz-animation-fill-mode:both
}
@-webkit-keyframes bounceIn {
	0% {
	opacity:0;
	-webkit-transform:scale(.3)
}
50% {
	opacity:1;
	-webkit-transform:scale(1.05)
}
70% {
	-webkit-transform:scale(.9)
}
100% {
	-webkit-transform:scale(1)
}
}
@-moz-keyframes bounceIn {
	0% {
	opacity:0;
	-moz-transform:scale(.3)
}
50% {
	opacity:1;
	-moz-transform:scale(1.05)
}
70% {
	-moz-transform:scale(.9)
}
100% {
	-moz-transform:scale(1)
}
}.bounceIn {
	-webkit-animation-name:bounceIn;
	-moz-animation-name:bounceIn
}
@-webkit-keyframes bounceInUp {
	0% {
	opacity:0;
	-webkit-transform:translateY(2000px)
}
60% {
	opacity:1;
	-webkit-transform:translateY(-30px)
}
80% {
	-webkit-transform:translateY(10px)
}
100% {
	-webkit-transform:translateY(0)
}
}
@-moz-keyframes bounceInUp {
	0% {
	opacity:0;
	-moz-transform:translateY(2000px)
}
60% {
	opacity:1;
	-moz-transform:translateY(-30px)
}
80% {
	-moz-transform:translateY(10px)
}
100% {
	-moz-transform:translateY(0)
}
}

.bounceInUp {
	-webkit-animation-name:bounceInUp;
	-moz-animation-name:bounceInUp
}
@-webkit-keyframes bounceInDown {
	0% {
	opacity:0;
	-webkit-transform:translateY(-2000px)
}
60% {
	opacity:1;
	-webkit-transform:translateY(30px)
}
80% {
	-webkit-transform:translateY(-10px)
}
100% {
	-webkit-transform:translateY(0)
}
}
@-moz-keyframes bounceInDown {
	0% {
	opacity:0;
	-moz-transform:translateY(-2000px)
}
60% {
	opacity:1;
	-moz-transform:translateY(30px)
}
80% {
	-moz-transform:translateY(-10px)
}
100% {
	-moz-transform:translateY(0)
}
}

.bounceInDown {
	-webkit-animation-name:bounceInDown;
	-moz-animation-name:bounceInDown
}
@-webkit-keyframes bounceInLeft {
	0% {
	opacity:0;
	-webkit-transform:translateX(-2000px)
}
60% {
	opacity:1;
	-webkit-transform:translateX(30px)
}
80% {
	-webkit-transform:translateX(-10px)
}
100% {
	-webkit-transform:translateX(0)
}
}
@-moz-keyframes bounceInLeft {
	0% {
	opacity:0;
	-moz-transform:translateX(-2000px)
}
60% {
	opacity:1;
	-moz-transform:translateX(30px)
}
80% {
	-moz-transform:translateX(-10px)
}
100% {
	-moz-transform:translateX(0)
}
}
.bounceInLeft {
	-webkit-animation-name:bounceInLeft;
	-moz-animation-name:bounceInLeft
}
@-webkit-keyframes bounceL_B{
0% {
	opacity:0.1;
	-webkit-transform:matrix(0.1,0,0,0.1,-2000,0)
}
20% {
	opacity:0.3;
	-webkit-transform:matrix(0.3,0,0,0.3,-1000,0)
}
40% {
	opacity:0.5;
	-webkit-transform:matrix(0.5,0,0,0.5,-500,0)
}
60% {
	opacity:0.6;
	-webkit-transform:matrix(0.6,0,0,0.6,100,0)
}
80% {
	opacity:0.8;
	-webkit-transform:matrix(0.8,0,0,0.8,-50,0)
}
100% {
	opacity:1;
	-webkit-transform:matrix(1,0,0,1,0,0)
}
}

@-moz-keyframes bounceL_B{
0% {
	opacity:0.1;
	-moz-transform:matrix(0.1,0,0,0.1,-2000,0)
}
20% {
	opacity:0.3;
	-moz-transform:matrix(0.3,0,0,0.3,-1500,0)
}
40% {
	opacity:0.5;
	-moz-transform:matrix(0.5,0,0,0.5,-500,0)
}
60% {
	opacity:0.6;
	-moz-transform:matrix(0.6,0,0,0.6,-100,0)
}
80% {
	opacity:0.8;
	-moz-transform:matrix(0.8,0,0,0.8,50,0)
}
100% {
	opacity:1;
	-moz-transform:matrix(1,0,0,1,0,0)
}
}

.bounceL_B {
	-webkit-animation-name:bounceL_B;
	-moz-animation-name:bounceL_B
}





@-webkit-keyframes bounceInRight {
	0% {
	opacity:0;
	-webkit-transform:translateX(2000px)
}
60% {
	opacity:1;
	-webkit-transform:translateX(-30px)
}
80% {
	-webkit-transform:translateX(10px)
}
100% {
	-webkit-transform:translateX(0)
}
}
@-moz-keyframes bounceInRight {
	0% {
	opacity:0;
	-moz-transform:translateX(2000px)
}
60% {
	opacity:1;
	-moz-transform:translateX(-30px)
}
80% {
	-moz-transform:translateX(10px)
}
100% {
	-moz-transform:translateX(0)
}
}

.bounceInRight {
	-webkit-animation-name:bounceInRight;
	-moz-animation-name:bounceInRight
}
@-webkit-keyframes fadeIn {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}
@-moz-keyframes fadeIn {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}
.bounceR_B {
	-webkit-animation-name:bounceR_B;
	-moz-animation-name:bounceR_B
}
@-webkit-keyframes bounceR_B {
	0% {
	opacity:0.1;
	-webkit-transform:matrix(0.1,0,0,0.1,1000,0)
}
20% {
	opacity:0.3;
	-webkit-transform:matrix(0.3,0,0,0.3,600,0)

}
40% {
	opacity:0.4;
	-webkit-transform:matrix(0.4,0,0,0.4,300,0)
	
}
60% {
	opacity:0.5;
	-webkit-transform:matrix(0.6,0,0,0.6,-150,0)

}
80% {
	opacity:0.8;
	-webkit-transform:matrix(0.8,0,0,0.8,10,0)
	
}
100% {
	opacity:1;
	-webkit-transform:matrix(1,0,0,1,0,0)
}
}
@-moz-keyframes bounceR_B {
	0% {
	opacity:0.1;
	-moz-transform:matrix(0.1,0,0,0.1,2000,0)
	
}
20% {
	opacity:0.3;
	-moz-transform:matrix(0.3,0,0,0.3,400,0)

}
40% {
	opacity:0.4;
	-moz-transform:matrix(0.4,0,0,0.4,100,0)
	
}
60% {
	opacity:0.5;
	-moz-transform:matrix(0.5,0,0,0.5,-30,0)

}
80% {
	opacity:0.8;
	-moz-transform:matrix(0.8,0,0,0.8,10,0)
}
100% {
	opacity:1;
	-moz-transform:matrix(1,0,0,1,0,0)
}
}

.fadeIn {
	-webkit-animation-name:fadeIn;
	-moz-animation-name:fadeIn
}
@-webkit-keyframes fadeInUp {
	0% {
	opacity:0;
	-webkit-transform:translateY(20px)
}
100% {
	opacity:1;
	-webkit-transform:translateY(0)
}
}
@-moz-keyframes fadeInUp {
	0% {
	opacity:0;
	-moz-transform:translateY(20px)
}
100% {
	opacity:1;
	-moz-transform:translateY(0)
}
}

.fadeInUp {
	-webkit-animation-name:fadeInUp;
	-moz-animation-name:fadeInUp
}
@-webkit-keyframes fadeInDown {
	0% {
	opacity:0;
	-webkit-transform:translateY(-20px)
}
100% {
	opacity:1;
	-webkit-transform:translateY(0)
}
}
@-moz-keyframes fadeInDown {
	0% {
	opacity:0;
	-moz-transform:translateY(-20px)
}
100% {
	opacity:1;
	-moz-transform:translateY(0)
}
}

.fadeInDown {
	-webkit-animation-name:fadeInDown;
	-moz-animation-name:fadeInDown
}
@-webkit-keyframes fadeInLeft {
	0% {
	opacity:0;
	-webkit-transform:translateX(-20px)
}
100% {
	opacity:1;
	-webkit-transform:translateX(0)
}
}
@-moz-keyframes fadeInLeft {
	0% {
	opacity:0;
	-moz-transform:translateX(-20px)
}
100% {
	opacity:1;
	-moz-transform:translateX(0)
}
}

.fadeInLeft {
	-webkit-animation-name:fadeInLeft;
	-moz-animation-name:fadeInLeft
}
@-webkit-keyframes fadeInRight {
	0% {
	opacity:0;
	-webkit-transform:translateX(20px)
}
100% {
	opacity:1;
	-webkit-transform:translateX(0)
}
}

@-moz-keyframes fadeInRight {
	0% {
	opacity:0;
	-moz-transform:translateX(20px)
}
100% {
	opacity:1;
	-moz-transform:translateX(0)
}
}
.fadeInRight {
	-webkit-animation-name:fadeInRight;
	-moz-animation-name:fadeInRight
}

@-webkit-keyframes fadeInUpBig {
	0% {
	opacity:0;
	-webkit-transform:translateY(2000px)
}
100% {
	opacity:1;
	-webkit-transform:translateY(0)
}
}
@-moz-keyframes fadeInUpBig {
	0% {
	opacity:0;
	-moz-transform:translateY(2000px)
}
100% {
	opacity:1;
	-moz-transform:translateY(0)
}
}
.fadeInUpBig {
	-webkit-animation-name:fadeInUpBig;
	-moz-animation-name:fadeInUpBig
}

@-webkit-keyframes fadeInDownBig {
	0% {
	opacity:0;
	-webkit-transform:translateY(-2000px)
}
100% {
	opacity:1;
	-webkit-transform:translateY(0)
}
}
@-moz-keyframes fadeInDownBig {
	0% {
	opacity:0;
	-moz-transform:translateY(-2000px)
}
100% {
	opacity:1;
	-moz-transform:translateY(0)
}
}
 .fadeInDownBig {
	-webkit-animation-name:fadeInDownBig;
	-moz-animation-name:fadeInDownBig
}

@-webkit-keyframes fadeInLeftBig {
	0% {
	opacity:0;
	-webkit-transform:translateX(-2000px)
}
100% {
	opacity:1;
	-webkit-transform:translateX(0)
}
}
@-moz-keyframes fadeInLeftBig {
	0% {
	opacity:0;
	-moz-transform:translateX(-2000px)
}
100% {
	opacity:1;
	-moz-transform:translateX(0)
}
}
.fadeInLeftBig {
	-webkit-animation-name:fadeInLeftBig;
	-moz-animation-name:fadeInLeftBig
}

@-webkit-keyframes fadeInRightBig {
	0% {
	opacity:0;
	-webkit-transform:translateX(2000px)
}
100% {
	opacity:1;
	-webkit-transform:translateX(0)
}
}
@-moz-keyframes fadeInRightBig {
	0% {
	opacity:0;
	-moz-transform:translateX(2000px)
}
100% {
	opacity:1;
	-moz-transform:translateX(0)
}
}
 .fadeInRightBig {
	-webkit-animation-name:fadeInRightBig;
	-moz-animation-name:fadeInRightBig
}
@-webkit-keyframes fadeOut {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}
@-moz-keyframes fadeOut {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}  




