html,body,div,span,strong,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-size:100%;font-weight:normal;margin:0;padding:0;}
body{font: 14px/1.7 "Microsoft YaHei";color:#fff;background-color:#fff;}
a{text-decoration:none;outline: none;}
a img,img{border:0;vertical-align: top;}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
.write{
	color:#ffffff;
}
.chi{
	color:#8c5b3f;
}
.chi2{
	color: #321200;
}
.f24{
	font-size: 24px;
}
.f20{
	font-size: 20px;
}
.f14{
	font-size: 14px;
}

/*********************分隔线************************/
.main{
	min-width:1200px;
	max-width:1920px;
	position: relative;
	overflow:hidden;
}
.head{
	background: url(../images/head.jpg) no-repeat center top;
	height: 804px;
}
.content{
	/*background: url(../images/bg.png) no-repeat center top;
	height: 3656px;*/
	margin-top:-185px;
}
.box1-bg{
	background: url(../images/page1-bg.png) no-repeat center top;
	width: 100%;
	height: 691px;
}
.box1{
	width: 1080px;
    margin: 0 auto;
    height: 361px;
    padding-top: 170px;
    
}
.active-new{
	float:left;
	width: 649px;
	height: 361px;
	background: url(../images/page1-1.png) no-repeat center top;
}
.active-new-til{
	margin-left: 20px;
}
.active-explain-til{
	margin-left: 20px;
}
.active-explain-tips{
	line-height: 18px;
    margin-top: 10px; 
    width: 90%;
    margin: 10px auto 20px;
    text-indent:2em;
}
.active-explain-con{
	height: 32px;
	width: 90%;
	margin:0 auto;
}
.active-icon{
	background: url(../images/icon.png) no-repeat center top;
    width: 59px;
    height: 21px;
    float: left;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    line-height: 20px;
}
.active-ff{
	color: #321200;
    padding-left: 70px;
}
.active-new-con{
	margin-left: 24px;
	margin-top: 10px;
	width: 93%;
}
/*.active-new-con-ly{
	width: 100%;
}*/
#ul-run1 li{
	margin-bottom: 20px;
}
.active-explain{
	float:right;
	width: 421px;
	height: 361px;
	background: url(../images/page1-2.png) no-repeat center top;
}
.box2-3-bg{
	background:url(../images/page2-3-bg.png) no-repeat center top;
	width: 100%;
	height: 1649px;
	/*height: 844px;*/
	margin-top: -180px;
}
.box2{
	width: 1200px;
	margin: 0 auto;
	padding-top:160px;
}
.box2-title{
	width: 604px;
	margin: 0 auto;
}
.boxe2-banner{
	width: 900px;
	margin: 10px auto 0;
	position: relative;
}
.banner-bg{
	position: absolute;
    top: 120px;
}
.box3{
	width: 1000px;
    margin: 200px auto 0;
}
.box3-title{
	width: 702px;
    margin-left: 340px;
}
.box3-con{
	width: 1004px;
	height: 742px;
	margin: -80px auto 0;
	background: url(../images/tv.png) no-repeat center top;
}
.box3-tv{
	width: 692px;
    height: 441px;
    margin-left: 154px;
    padding-top: 164px;
}
.box3-con-left{
	width: 602px;
	height: 383px;
	/*border:1px solid #fff;*/
	float: left;
}
.box3-con-right{
	height: 383px;
	background: url(../images/page3-2.jpg) no-repeat center top;
	margin-left: 620px;
    width: 421px;
}
.box3-con-right-2{
	height: 40px;
	width: 380px;
	margin: 10px auto 0;
	color: #321200;
}
.box3-con-right-2 p{
	padding-left: 35px;
}
.qu{
	height: 27px;
	line-height: 27px;
}
.an{
	margin-top: 5px;
	line-height: 18px;
}
.fy-bg{
	background: url(../images/fy-bg.png) no-repeat center top;
	width: 203px;
	height: 28px;
	float:right;
	line-height: 24px;
	margin-top: 10px;
    margin-right: 15px;
}
.fy-bg p{
	margin-left:20px;
	font-size: 16px;
	text-align: center;
    line-height: 20px;
    margin-top: 1px;
    float: left;
}
.red{
	color: #d81b19;
}
.he{
	color: #50301f;
}
.fy-icon{
	width: 20px;
	height: 20px;
	background: url(../images/fy-icon.png) no-repeat center top;
}
/* focus_Box */
#focus_Box{position:relative;width:900px;height:389px;}
#focus_Box ul{position:relative;width:900px;height:389px}
#focus_Box li{z-index:0;position:absolute; width:0px;background:#787878;height:0px;top:146px;cursor:pointer;left:377px;border-radius:4px;box-shadow:1px 1px 12px rgba(200, 200, 200, 1)}
#focus_Box li img{width:100%;background:url(../images/loading.gif) no-repeat center 50%;height:100%;vertical-align:top}

#focus_Box .prev,#focus_Box .next{display:block;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:52px;height:52px;top:131px;}
#focus_Box .prev{background:url(../images/btn.png) left bottom no-repeat;left:0px}
#focus_Box .next{background:url(../images/btn.png) right bottom no-repeat;right:0px} 
#focus_Box .prev:hover{background-position:left top;}
#focus_Box .next:hover{background-position:right top;}
#focus_Box a.imgs-scroll-btn{display:block;position:absolute;z-index:110;top:7px;right:15px;width:51px;height:23px;overflow:hidden;background:url(images/share-btn.png) no-repeat;text-indent:-999px;}
.box4-bg{
	background: url(../images/page4-bg.png) no-repeat center top;
	width: 100%;
	height: 1087px;
	margin-top: -190px;
}
.box4{
	width: 1200px;
	margin:0 auto;
	padding-top: 160px;
}
.box4-1{
	width: 1087px;
    height: 90px;
    margin: 0 auto;
    padding-top: 40px;
}
.box4-2{
	margin: 20px auto 0;
    width: 1090px;
}
.box4-3{
	width: 1086px;
    margin: 20px auto 0;

}
.box5-bg{
	background: url(../images/page5-bg.png) no-repeat center top;
	width: 100%;
	/*height: 808px;*/
	margin-top: -200px;
	padding-top: 28px;
	    height: 1050px;
}
.box5{
	width: 1205px;
    /*border: 1px solid #fff;*/
    /*height: 600px;*/
    margin: 0 auto;
}
.box5-1{
	width: 256px;
	margin-top: 165px;
}
.box5-1 div{
	width: 256px;
	height:126px; 
	margin-top: -55px;
}
.box5-2{
	width: 735px;
	margin-top: 70px;
}
.box5-2-title{
	text-align: center;
}
.box5-2-ditu{
	text-align: center;
}
.box5-3{
	/*background: url(../images/citys-bg.png) no-repeat center top;*/
	width: 159px;
	height: 682px;
	margin-top: 4px;
	position: relative;
}
.box5-3-city{
	width: 75%;
    margin-left: 15%;
    margin-top: 120px;
    height: 420px;
    overflow-y: auto;
    /*scrollbar-arrow-color: #f4ae21;   三角箭头的颜色*/
	
	scrollbar-track-color: #810c0a;      /*立体滚动条背景颜色*/
	scrollbar-base-color: #ffba00;    /*滚动条的基本颜色*/


}
/*滚动条宽度*/  
#box5-3-city::-webkit-scrollbar {  
    width: 6px;  
}  
   
/* 轨道样式 */  
#box5-3-city::-webkit-scrollbar-track {  
  background-color: #810c0a;
}  
   
/* Handle样式 */  
#box5-3-city::-webkit-scrollbar-thumb {  
    border-radius: 0;  
    background-color: #ffba00;   
}  
  
/*当前窗口未激活的情况下*/  
#box5-3-city::-webkit-scrollbar-thumb:window-inactive {  
    background-color: #ffba00;   
}  
  
/*hover到滚动条上*/  
#box5-3-city::-webkit-scrollbar-thumb:vertical:hover{  
    background-color: #ffba00;  
}  
/*滚动条按下*/  
#box5-3-city::-webkit-scrollbar-thumb:vertical:active{  
    background-color: #ffba00;  
}  
.box5-3 ul{
	color: #ffba00;
    font-size: 18px;
    list-style-position: inside;
    
}

.box6-bg{
	background: url(../images/page6-bg.png) no-repeat center top;
	width: 100%;
	height: 445px;
	margin-top: -220px;
	z-index: 2;
    position: absolute;
    bottom: 0;
}

.fl
{
	float: left;
}

.navWarp{
	width: 164px;
	position: absolute;
	top:650px;
	display: block;
	right: 20px;
	z-index: 10000;
}
.nav-con{
	background-color: #e92e2c;
	width: 146px;
	text-align: center;
}
.nav-con-f{
	margin-top: 5px;
}
.nav-con-f p{
	font-size: 21px;
	text-align: center;
}
.navWarpFix{position: fixed;top:30px;}
.hide{
	display: none;
}
.navWarpInside .z1{z-index: 1}
.navWarpInside .z2{z-index: 2}
.navWarpInside .z3{z-index: 3}
.navWarpInside .z4{z-index: 4}
.navWarpInside .z5{z-index: 5}






