@charset "utf-8";
body {
    background: #e7a350;
}

.Mc_bg {
    background: url("../images/Mc_bg.jpg");
    background-position: center, center;
    background-size: cover;
}

.unShow {
    /*display: none;*/
}

#Mc_logo {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -271px;
    z-index: 100;
}

#Btn_sound {
    position: fixed;
    top: 115px;
    right: 50px;
    z-index: 999;
}

.SoundAni{
    -webkit-animation: SoundKey 2s infinite;
    -o-animation: SoundKey 2s infinite;
    animation: SoundKey 2s infinite;
}

@keyframes SoundKey {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#Ani_arrow {
    position: fixed;
    width: 176px;
    height: 17px;
    top: 985px;
    left: 220px;
    z-index: 100;
    background: url("../images/Mc_arrow1.png");
    -webkit-animation: ArrowAni 3s infinite;
    -o-animation: ArrowAni 3s infinite;
    animation: ArrowAni 3s infinite;
}

@keyframes ArrowAni {
    0% {
        background-position: 176px, 0px;
    }
    100% {
        background-position: 0px, 0px;
    }
}

@-webkit-keyframes ArrowAni {
    0% {
        background-position: 176px, 0px;
    }
    100% {
        background-position: 0px, 0px;
    }
}

#SwiperModule {
    position: absolute;
    top: 0px;
    left: 0px;
}

.txt_p1 {
    font-family: FZSJKK, "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
    font-size: 36px;
    font-weight: normal;
    color: #9b522b;
    margin-bottom: 25px;
}

.txt_p2 {
    font-family: FZSJKK, "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
    font-size: 36px;
    font-weight: bolder;
    color: #9b522b;
}

#Mc_tape {
    margin-bottom: 146px;
}

.ContentBox {
    position: relative;
}

.Mc_cir {
    position: absolute;
    left: 50%;
    top: 185px;
    margin-left: -203px;
}

.Mc_tit {
    position: absolute;
    left: 50%;
    top: 275px;
    margin-left: -72px;
}

.Mc_txt_Fir {
    position: absolute;
    top: 360px;
    left: 460px;
}

.Mc_txt_Sec {
    position: absolute;
    top: 360px;
    left: 360px;
}

.Mc_txt_Thr {
    position: absolute;
    top: 360px;
    left: 260px;
}

.Mc_txt_Fou {
    position: absolute;
    top: 360px;
    left: 160px;

}

#LineFir {
    position: absolute;
    top: 400px;
    left: 415px;
}

#LineSec {
    position: absolute;
    top: 400px;
    left: 315px;
}

#LineThr {
    position: absolute;
    top: 400px;
    left: 215px;
}

#Mc_gift_p4 {
    position: absolute;
    right: 0px;
    top: 0px;
}

#PrintBox {
    position: absolute;
    top: 880px;
    left: 135px;
}

#Btn_fingerprint {
    position: absolute;
    left: 0px;
    top: 0px;;
}

#Mc_light{
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-animation: LightAni 2s infinite;
    -o-animation: LightAni 2s infinite;
    animation: LightAni 2s infinite;
    opacity: 0;
}

@keyframes LightAni {
    0%{
        top: 0px;
    }
    100%{
        top: 118px;
    }
    
}
@-webkit-keyframes LightAni {
    0%{
        top: 0px;
    }
    100%{
        top: 118px;
    }
}

#Print_txt1 {
    position: absolute;
    left: 130px;
    top: 15px;;
}

#Print_txt2 {
    position: absolute;
    left: 130px;
    top: 80px;;
}

.Mc_bg_rule {
    background: url("../images/Mc_bg_rule.jpg");
    background-position: center, center;
    background-size: cover;
}

#RuleBox {
    position: absolute;
    left: 45px;
    top: 147px;
    width: 560px;
    height: 770px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#Btn_share {
    position: absolute;
    left: 155px;
    top: 955px;
}

.Mc_bg_menu {
    background: url("../images/Mc_bg_menu.jpg");
    background-position: center, center;
    background-size: cover;
}

#MenuBox {
    position: relative;
    top:0px;
}

#Mc_show1 {
    position: absolute;
    top: 155px;
    left: 0px;
}

#Mc_show2 {
    position: absolute;
    top: 355px;
    left: 0px;
}

#Mc_show3 {
    position: absolute;
    top: 555px;
    right: 0px;
}

#Mc_show4 {
    position: absolute;
    top: 755px;
    right: 0px;
}

#Btn_menu1 {
    position: absolute;
    top: 250px;
    right: 80px;
}

#Btn_menu2 {
    position: absolute;
    top: 450px;
    right: 80px;
}

#Btn_menu3 {
    position: absolute;
    top: 590px;
    left: 65px;
}

#Btn_menu4 {
    position: absolute;
    top: 790px;
    left: 65px;
}

#Mc_txt_menu {
    position: absolute;
    top: 990px;
    left: 60px;
}

#ShareModule {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 500;
    display: none;
}

#Mc_arrow {
    position: absolute;
    top: 0px;
    right: 50px;
}

#LoadModule {
    background: #e7a350;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1200;
}

.spinner {
    margin: 430px auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    right: 0;
    bottom: 0;
}

.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}




