/********************* reset Start *********************/
html,body,div,span,strong,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-size:100%;font-weight:normal;margin:0;padding:0;}
body{font: 12px/1.7 "Microsoft YaHei";color:#000;background-color:#f7f7f7;}
a{color:#fff;text-decoration:none;outline: none;}
a:hover{text-decoration:none;color:#3494d7;-webkit-transition:color .3s ease-out;-moz-transition:color .3s ease-out;transition:color .3s ease-out;}
a img,img{border:0;vertical-align: top;}
ul,li,input{list-style:none;padding:0;margin:0;vertical-align:middle;}
input{outline: none;}
i, em {font-style: normal; }
table {border-collapse: collapse;border-spacing:0;}
.hide{display: none;}
.hideFont{text-indent: -100%;overflow: hidden;display: block;}
.fix{*zoom:1;}
.fix:after{content: ".";width: 0;height: 0;font-size: 0;visibility: hidden;overflow: hidden;clear: both;display: block;}
.clear:after{clear: both;content:'.';display: block;visibility:hidden;height:0;}
.clear{zoom:1; clear: both;}

/* 设置滚动条的样式 */
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {border-radius: 10px;}/* 滚动槽 */
::-webkit-scrollbar-thumb {border-radius: 10px;background: #e5e5e5; }/* 滚动条滑块 */
::-webkit-scrollbar-thumb:window-inactive {background: #e5e5e5; }

/*box*/
.mainWrap1{}
.mainWrap2{}
.mainWrap3{min-width:1024px;max-width:1920px;background:#bbebf7;overflow:hidden}
.mainBox{background-repeat:no-repeat;background-position:top center}
.boxInside{width:1024px;margin:0 auto}
.box1{height:642px;background-image:url(../images/boxBg1.png)}
.box2{height:356px;padding-top:140px;background-image:url(../images/boxBg2.png)}
.box3{height:214px;background-image:url(../images/boxBg3.png)}
.box4{height:456px;padding-top:150px;background-image:url(../images/boxBg4.png)}
.box5{height:458px;padding-top:20px;background-image:url(../images/boxBg5.png)}


.leftBox{width:190px;height:337px;position:fixed;left:10px;top:125px;background:url(../images/left.png) no-repeat}
.leftBox .link{width:190px;height:160px;display:block}
.leftBox .goToTop{width:190px;height:40px;margin-top:137px;display:block}
/*main*/
.box2 .boxInside{width:960px;padding-left:64px}
.box2 .title{font-size:30px;}
.box2 .red{font-size:18px;font-weight:bold;color:#db3e4a}
.box2 .list span{width:210px;font-size:18px;line-height:35px;margin-right:20px;float:left}
.box2 .list i{margin-left:10px}
.box2 .before{font-size:30px;font-weight:bold;color:#db3e4a;margin-top:200px;text-indent:360px}

.box4 .boxInside{width:960px;padding-left:64px}
.box4 .hdBox{width:212px;height:425px;border:1px solid #e5e5e5;float:left;margin-right:10px;overflow:hidden}
.box4 .hdBox img{width:212px;height:92px;border-bottom:1px solid #e5e5e5}
.box4 .hdBox .hdMain{height:312px;margin:10px 5px;overflow-x:hidden;overflow-y:scroll}
.box4 .hdBox .hdMain .hd{color:#3494d7;margin:0 5px 5px 5px;padding-bottom:5px;border-bottom:1px solid #e5e5e5}
.box4 .hdBox .hdMain .hd .content{color:#000;margin-bottom:10px;word-break: break-all;}
.box4 .hdBox .hdMain .hd .dz{cursor:pointer;float:right}
.box4 .hdBox .hdMain .hd .notdz{cursor:pointer;float:right;color:#999;}
.box4 .hdBox .hdMain .tips{background:#f3f3f3;color:#999;text-align:center;cursor:pointer}


.box5 .inputBox{width:450px;height:140px;padding:8px 10px;margin-left:280px;background:#fff;}
.box5 .inputBox span{padding:5px}
.box5 .inputBox input{width:120px;margin-right:10px;border:1px solid #e5e5e5}
.box5 .inputBox .paibie{margin:10px 0 3px 0}
.box5 .inputBox .select{background:#f3f3f3;color:#999999;cursor:pointer;cursor:pointer}
.box5 .inputBox .postBtn{padding:3px 15px;background:#f3f3f3;color:#999999;float:right;cursor:text}
.box5 .inputBox .textarea{width:444px;height:45px;margin:5px 0;border:1px solid #e5e5e5}
.box5 .inputBox .hover{background:#db3e4a;color:#fff;cursor:pointer}
/********************* reset End *********************/

