@charset "utf-8";
/**
* @author chenxingbin (croow|somelittle) @ 20131105
*/ 
/*Reset CSS*/
/*body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{background:#fff;font:12px "宋体","Arial Narrow",HELVETICA;line-height:24px;}
a{color:#333333;text-decoration:none}
a:hover{color:#07a2d5;}
em{font-style:normal}
ul,li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;}
.dis{display:block}
.undis{display:none}
.ytArea:after,.box-are:after{content:"";display:table;clear:both}
.ytArea{*zoom:1}
.fl,.ytArea .fl{float:left;display:inline}
.fr,.ytArea .fr{float:right;display:inline}
.hr10,.hr20{clear:both;margin:0;padding:0;font-size:0;overflow:hidden;}
.hr20{height:20px;}
.hr10{height:10px;}
.banner,.minTopin,.headerIn,.mtcon{width:960px;margin:0 auto;}
.ytArea{width:100%;background:#fff}
area{outline:none;}*/

/*.topnav{
padding:0 0px;height:36px;background:#000;background:rgba(0,0,0,0.85);
position:fixed;_position:absolute;top:0;left:0;z-index:9999;width:100%;
box-shadow:0px 3px 8px rgba(0,0,0,0.3); 
}*/
/*.topnav .logo{display:block;position:absolute;left:0;top:5px;width:181px;height:26px;background:url(../images/logo.png) no-repeat;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/logo.png',sizingMethod='scale');overflow:hidden;text-indent:-9999px;}*/
/*.mininav{width:1000px;height:30px;margin:0 auto;position:relative;z-index:99999}
.mininav,.mininav a,.mininav a:link ,.mininav .hychannel p.up,.mininav .hychannel ul a,.mininav .hychannel ul a:link{color:#ccc}
.mininav a:hover ,.mininav .hychannel ul a:hover{color:#fff;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.mininav  a:hover{text-decoration:underline;}
.mininav .yt{display:inline-block;float:left;height:30px;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;line-height:30px;padding:0 10px;}
.mininav .mr{margin-left:185px;font-family:"SimSun","宋体";}
.mininav .l{float:right;line-height:36px;}
.mininav .nt{float:right;padding:0 5px;line-height:36px;position:relative;z-index:99999}
.mininav .cm{float:right;width:66px;height:36px;position:relative}
.mininav .cm p{width:66px;height:36px;line-height:36px;text-indent:6px;background:url(../images/yt_ico_c.png) 40px 6px no-repeat;color:#fff;cursor:pointer;position:absolute;z-index:99999;left:0;top:0;}
.mininav .cmhover p{background:url(../images/yt_ico_c.png) 40px -28px no-repeat;}
.tabcity{display:none;width:410px;padding:0 20px;color:#9b763b;position:absolute;right:0;top:34px;z-index:999999;overflow:hidden}
.tabcity .ht{width:400px;height:30px;line-height:30px;font-weight:bold;position:relative;z-index:9999}
.tabcity .ht .l{display:block;width:332px;height:10px;overflow:hidden;border-bottom:1px solid #9b763b;position:absolute;right:0;top:6px}
.tabcity .ht a,.tabcity .ht b{line-height:30px;font-weight:normal}
.tabcity .ht span b{margin-right:5px;}
.tabcity .cityall{height:120px;}
.tabcity .citylist{float:left;width:68px;position:relative;z-index:9999}
.tabcity .citylist li{line-height:20px;color:#999}
.tabcity .citylist li a{color:#333}
.tabcity .citylist li b{color:#af874b}
.tabcity .citylist li span{padding-right:8px;font-size:14px;font-weight:bold;}
.tabcity .citylist li span.n{font-size:12px;font-weight:normal;}
.tabcity .tcmask{width:450px;height:260px;background:#f5f0e8;opacity:0.9;filter:alpha(opacity=90);position:absolute;left:0;top:2px;z-index:999}
.mininav .hychannel{float:right;width:78px;height:36px;position:relative;z-index:9999}
.mininav .hychannel p{width:78px;height:36px;line-height:36px;text-indent:8px;background:url(../images/tico.png) 60px 9px no-repeat;cursor:pointer;position:absolute;z-index:99999;left:0;top:0;}
.mininav .hychannel p{height:36px;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.mininav .hychannel p.up{background:url(../images/tico.png) 60px -18px no-repeat;}
.mininav .hychannel ul.tg{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);opacity: 1;display: block;}
.mininav .hychannel ul{display:none\9;width:310px;padding:5px 10px;background: rgba(0,0,0,.6);background:#333\9;position:absolute;z-index:999;right:-3px;top:35px;border: 1px solid #000;border-top:none;opacity: 0;-webkit-transform: scale(0);-webkit-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-webkit-transform-origin: right top;-moz-transform: scale(0);-moz-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-moz-transform-origin: right top;-ms-transform: scale(0);-ms-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-ms-transform-origin: right top;box-shadow: 0 1px 5px rgba(0,0,0,.2);}
.mininav .hychannel ul.whz{width:140px;}
.mininav .hychannel ul a{display:inline-block;height:22px;line-height:22px;padding:0 7px;}*/

/*layout*/
.wraper {
    width:1060px;
    margin:0 auto;
}
.content, .footer {
      font: 13px/1.7 "Microsoft YaHei",Helvetia,"lucida Grande",Verdana,Arial;
      color:#7F7F7F;
}
.cf:before,.cf:after{content:"";display:table;}.cf:after{clear:both;}.cf{zoom:1;}



/*content*/


/*footer*/

.foots {
	height: 46px;
	background-color: #000;
	overflow: hidden;
	padding-top: 4px;
}
.foots .box {
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.foots .box .left {
	line-height: 22px;
	float: left;
	height: 25px;
}
.foots .box .right {
	line-height: 22px;
	float: right;
	height: 50px;
	text-align: right;
	color: #666666;
}
.headerMod{
	background-image: url(../images/om_01.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 334px;
}
.headre2 {
	background-image: url(../images/om_02.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 334px;
}
.con1 {
	background-image: url(../images/om_03.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 766px;
	overflow: hidden;
}
.con2 {background-image: url(../images/om_04.jpg);background-repeat: no-repeat;height: 492px;background-position: center top;}
.con3 {background-image: url(../images/om_05.jpg);background-repeat: no-repeat;height: 315px;background-position: center top;}
.con4 {background-image: url(../images/om_06.jpg);background-repeat: no-repeat;height: 355px;background-position: center top;}
.con5 {background-image: url(../images/om_07.jpg);background-repeat: no-repeat;height: 160px;background-position: center top;}
.con6 {height: 605px;}
.con7 {background-image: url(../images/om_09.jpg);background-repeat: no-repeat;height: 259px;background-position: center top;}
.con8 {background-image: url(../images/om_10.jpg);background-repeat: no-repeat;height: 265px;background-position: center top;}
.con9 {background-image: url(../images/om_11.jpg);background-repeat: no-repeat;height: 190px;background-position: center top;}
.con10 {background-image: url(../images/om_12.jpg);background-repeat: no-repeat;height: 725px;background-position: center top;}
.con11 {
	background-image: url(../images/om_13.jpg);
	background-repeat: no-repeat;
	height: 243px;
	background-position: center top;
	margin-top:40px;
	overflow: hidden;
}
.con12 {background-image: url(../images/om_14.jpg);background-repeat: no-repeat;height: 198px;background-position: center top;}
.con6 .box{
	background-image: url(../images/om_08.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	width:1000px;
	height: 605px;
	margin:0 auto 0;
	position: relative;
}
.con1 .box {
	height: 600px;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	position: relative;
}
.con1 .box ul li {float: left;height: 350px;width: 215px;margin-top: 190px;margin-left: 0px;display: inline-block;}
.bg1{background-image: url(../images/q1.png);background-repeat: no-repeat;}
.bg2{background-image: url(../images/q2.png);background-repeat: no-repeat;}
.bg3{background-image: url(../images/q3.png);background-repeat: no-repeat;}
.bg4{background-image: url(../images/q4.png);background-repeat: no-repeat;}
.tc1 {display:block;float: left;height: 350px;width: 215px;}
.tc1 .win{position:absolute;left:0px;top:0px;z-index:1;display:none;}
.tc1:hover .win{display:block;}

.con1 .box ul {

	margin-left: 80px;
}
ul#menu li{float:left;position:relative;}
ul#menu li img{width:auto; height:auto;}
ul#menu .f1{width:251px; height:401;position:absolute;top:0px;left:0px;}
ul#menu .f2{
	width:206px;
	position:absolute;
	top:0px;
	left:260px;
}
ul#menu .f3{width:192px; height:196;position:absolute;top:0px;left:475px;}
ul#menu .f4{width:105px;height:95;position:absolute;top:0px;left:673px;}
ul#menu .f5{width:105px;height:95;position:absolute;top:102px;left:673px;}
ul#menu .f6{width:215px;height:196;position:absolute;top:0px;left:785px;}
ul#menu .f7{width:364px;height:196;position:absolute;top:205px;left:261px;}
ul#menu .f8{width:364px;height:196;position:absolute;top:205px;left:632px;}
ul#menu .f9{width:251px;height:195;position:absolute;top:410px;left:0px;}
ul#menu .f10{width:133px;height:195;position:absolute;top:410px;left:261px;}
ul#menu .f11{width:129px;height:195;position:absolute;top:410px;left:400px;}
ul#menu .f12{width:241px;height:195;position:absolute;top:410px;left:536px;}
.con11 .box {
	line-height: 24px;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	margin-top: 240px;
	overflow: hidden;
}
.con8 a {
	display: block;
	height: 260px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.con12 a {
	height: 158px;
	width: 860px;
	margin-top: -42px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}




/* Monv */
.Monv{line-height:30px;text-align:center;cursor:pointer;float:left;}
.Monv .cp1 {background-image: url(../images/cp1a.jpg);background-repeat: no-repeat;height: 112px;width: 224px;width:224px; height:112px; display:block;}
.Monv a:hover {background-image: url(../images/cp1b.jpg);background-repeat: no-repeat;height: 112px;width: 224px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:0 0 15px #0892b8;}
#Monver{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver #close{display:block;position:relative;}
#Monver #close img{position:absolute;right:7px;top:7px;cursor:pointer;}
 
.Monv2{line-height:30px;text-align:center;cursor:pointer;float:left;}
.Monv2 .cp2 {background-image: url(../images/cp2a.jpg);background-repeat: no-repeat;height: 112px;width: 224px;width:224px; height:112px; display:block;}
.Monv2 a:hover {background-image: url(../images/cp2b.jpg);background-repeat: no-repeat;height: 112px;width: 224px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:0 0 15px #0892b8;}
#Monver2{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver2 #close2{display:block;position:relative;}
#Monver2 #close2 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv3{line-height:30px;text-align:center;cursor:pointer;float:left;}
.Monv3 .cp3 {background-image: url(../images/cp3a.jpg);background-repeat: no-repeat;height: 112px;width: 224px;width:224px; height:112px; display:block;}
.Monv3 a:hover {background-image: url(../images/cp3b.jpg);background-repeat: no-repeat;height: 112px;width: 224px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:0 0 15px #0892b8;}
#Monver3{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver3 #close3{display:block;position:relative;}
#Monver3 #close3 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv4{line-height:30px;text-align:center;cursor:pointer;float:left;}
.Monv4 .cp4 {background-image: url(../images/cp4a.jpg);background-repeat: no-repeat;height: 112px;width: 224px;width:224px; height:112px; display:block;}
.Monv4 a:hover {background-image: url(../images/cp4b.jpg);background-repeat: no-repeat;height: 112px;width: 224px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:0 0 15px #0892b8;}
#Monver4{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver4 #close4{display:block;position:relative;}
#Monver4 #close4 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv5{line-height:30px;text-align:center;cursor:pointer;float:left;}
.Monv5 .cp5 {background-image: url(../images/cp5a.jpg);background-repeat: no-repeat;height: 112px;width: 224px;width:224px; height:112px; display:block;}
.Monv5 a:hover {background-image: url(../images/cp5b.jpg);background-repeat: no-repeat;height: 112px;width: 224px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:0 0 15px #0892b8;}
#Monver5{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver5 #close5{display:block;position:relative;}
#Monver5 #close5 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv6{line-height:30px;text-align:center;cursor:pointer;float:left;}
#Monver6{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver6 #close6{display:block;position:relative;}
#Monver6 #close6 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv7{line-height:30px;text-align:center;cursor:pointer;float:left;}
#Monver7{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver7 #close7{display:block;position:relative;}
#Monver7 #close7 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv8{line-height:30px;text-align:center;cursor:pointer;float:left;}
#Monver8{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver8 #close8{display:block;position:relative;}
#Monver8 #close8 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv9{line-height:30px;text-align:center;cursor:pointer;float:left;}
#Monver9{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver9 #close9{display:block;position:relative;}
#Monver9 #close9 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv11{line-height:30px;text-align:center;cursor:pointer;float:left;}
#Monver11{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver11 #close11{display:block;position:relative;}
#Monver11 #close11 img{position:absolute;right:7px;top:7px;cursor:pointer;}

.Monv12{line-height:30px;text-align:center;cursor:pointer;float:left;}
#Monver12{width:798px;height: auto;border:8px solid #ccc;display:none;background:#fff;}
#Monver12 #close12{display:block;position:relative;}
#Monver12 #close12 img{position:absolute;right:7px;top:7px;cursor:pointer;}