.topnav{
padding:0 0px;height:36px;background:#000;background:rgba(0,0,0,0.85);
position:fixed;_position:absolute;top:0;left:0;z-index:9999;width:100%;
box-shadow:0px 3px 8px rgba(0,0,0,0.3); 
}
.topnav .logo{display:block;position:absolute;left:0;top:5px;width:181px;height:26px;background:url(../images/logo2.png) no-repeat;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/logo2.png',sizingMethod='scale');overflow:hidden;text-indent:-9999px;}
.mininav{width:1000px;height:30px;margin:0 auto;position:relative;z-index:999999}
.mininav,.mininav a,.mininav a:link ,.mininav .hychannel p.up,.mininav .hychannel ul a,.mininav .hychannel ul a:link{color:#ccc}
.mininav a:hover ,.mininav .hychannel ul a:hover{color:#fff;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.mininav  a:hover{text-decoration:underline;}
.mininav .yt{display:inline-block;float:left;height:30px;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;line-height:30px;padding:0 10px;}
.mininav .mr{margin-left:185px;font-family:"SimSun","宋体";}
.mininav .l{float:right;line-height:36px;}
.mininav .nt{float:right;padding:0 5px;line-height:36px;position:relative;z-index:99999}
.mininav .cm{float:right;width:66px;height:36px;position:relative}
.mininav .cm p{width:66px;height:36px;line-height:36px;text-indent:6px;background:url(../images/yt_ico_c.png) 40px 6px no-repeat;color:#fff;cursor:pointer;position:absolute;z-index:99999;left:0;top:0;}
.mininav .cmhover p{background:url(../images/yt_ico_c.png) 40px -28px no-repeat;}
.tabcity{display:none;width:410px;padding:0 20px;color:#9b763b;position:absolute;right:0;top:34px;z-index:999999;overflow:hidden}
.tabcity .ht{width:400px;height:30px;line-height:30px;font-weight:bold;position:relative;z-index:9999}
.tabcity .ht .l{display:block;width:332px;height:10px;overflow:hidden;border-bottom:1px solid #9b763b;position:absolute;right:0;top:6px}
.tabcity .ht a,.tabcity .ht b{line-height:30px;font-weight:normal}
.tabcity .ht span b{margin-right:5px;}
.tabcity .cityall{height:120px;}
.tabcity .citylist{float:left;width:68px;position:relative;z-index:9999}
.tabcity .citylist li{line-height:20px;color:#999}
.tabcity .citylist li a{color:#333}
.tabcity .citylist li b{color:#af874b}
.tabcity .citylist li span{padding-right:8px;font-size:14px;font-weight:bold;}
.tabcity .citylist li span.n{font-size:12px;font-weight:normal;}
.tabcity .tcmask{width:450px;height:260px;background:#f5f0e8;opacity:0.9;filter:alpha(opacity=90);position:absolute;left:0;top:2px;z-index:999}
.mininav .hychannel{float:right;width:78px;height:36px;position:relative;z-index:999999}
.mininav .hychannel p{width:78px;height:36px;line-height:36px;text-indent:8px;background:url(../images/tico.png) 60px 9px no-repeat;cursor:pointer;position:absolute;z-index:99999;left:0;top:0;}
.mininav .hychannel p{height:36px;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.mininav .hychannel p.up{background:url(../images/tico.png) 60px -18px no-repeat;}
.mininav .hychannel ul.tg{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);opacity: 1;display: block;}
.mininav .hychannel ul{display:none\9;width:310px;padding:5px 10px;background: rgba(0,0,0,.6);background:#333\9;position:absolute;z-index:999;right:-3px;top:35px;border: 1px solid #000;border-top:none;opacity: 0;-webkit-transform: scale(0);-webkit-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-webkit-transform-origin: right top;-moz-transform: scale(0);-moz-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-moz-transform-origin: right top;-ms-transform: scale(0);-ms-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);-ms-transform-origin: right top;box-shadow: 0 1px 5px rgba(0,0,0,.2);}
.mininav .hychannel ul.whz{width:140px;}
.mininav .hychannel ul a{display:inline-block;height:22px;line-height:22px;padding:0 7px;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

.da-slider{
	width: 100%;
	min-width: 520px;
	height: 736px;
	position: relative;
	margin: 0px auto;
	overflow: hidden;

	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
	-webkit-transition: background-position 1.4s ease-in-out 0.3s;
	-moz-transition: background-position 1.4s ease-in-out 0.3s;
	-o-transition: background-position 1.4s ease-in-out 0.3s;
	-ms-transition: background-position 1.4s ease-in-out 0.3s;
	transition: background-position 1.4s ease-in-out 0.3s;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;

	text-align: left;
}
.da-slide-current{
	z-index: 1000;
}
.da-slider-fb .da-slide{
	left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 0px;
}
.da-slide h2,
.da-slide p,
.da-link,
.da-slide .da-img{
	display: block;
	position: absolute;
	opacity: 0;

}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
	display: block;
	opacity: 1;
}
.da-slider-fb .da-slide .da-img{
	left: 50%;margin-left:-500px;
	opacity: 1;
}
.da-slide h2{
	color: #fff;
	font-size: 66px;
	width: 500px;
	top: 170px;
	white-space: nowrap;
	z-index: 10;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

	font-weight: 700;
	margin-left: 170px;
}
.da-slide p{
	width: 210px;
	top: 235px;
	color: #FFF;
	font-size: 18px;
	line-height: 36px;
	height: 150px;
	overflow: hidden;
	margin-left: 180px;
	display: block;
}
.da-slide .da-img{
	text-align: center;

	top: 80px;

	left: 110%; /*60%*/
}
.da-slide span .a1{
	width:477px;
	height:55px;
	display: block;
	z-index: 99999;
	margin-top:-496px;
	float:left;
	cursor:pointer;
	position: absolute;
}

.da-slide span .a2{
	width:477px;
	height:55px;
	display: block;
	z-index: 99999;
	margin-top:-496px;
	float:left;
	cursor:pointer;
	position: absolute;
}

.da-slide span .a3{
	width:477px;
	height:55px;
	display: block;
	z-index: 99999;
	margin-top:-496px;
	float:left;
	cursor:pointer;
	position: absolute;
}

.da-slide span .a4{
	width:477px;
	height:55px;
	display: block;
	z-index: 99999;
	margin-top:-496px;
	float:left;
	cursor:pointer;
	position: absolute;
}

.da-link{
	top: 160px;
	font-size: 18px;
	height: 160px;
	width: 160px;
	left:100px;
	margin-left:-120px;
	
	
	position: absolute;

}
.da-slide .da-link:hover{
}
.da-dots{
	width: 920px;
	position: absolute;
	text-align: left;
	bottom: 35px;
	z-index: 2000;
	-moz-user-select: none;
	-webkit-user-select: none;
	height: 76px;
	margin-right: auto;
	margin-left: -460px;
	font-size:18px;
	background-position: center top;
	display: block;
	left: 50%;
	background-image: url(../images/nav.png);
	background-repeat: no-repeat;
}
.da-dots span{
	display: block;
	position: relative;
	width: 130px;
	height: 76px;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	float:left;
	color:#FFF;

}
.da-dots span.da-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	

	top: 2px;
	left: 2px;

}
.da-dots .da-dots-current{
	color:#de0059;
	background-image: url(../images/yumi.png);
	background-repeat: no-repeat;
	background-position: center center;
	font-size:24px;
	font-weight:bold;
}
.da-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-arrows span{
	position: absolute;
	top: 38%;
	height: 120px;
	width: 40px;


	cursor: pointer;
	z-index: 2000;
	opacity: 0.5;

}
.da-slider:hover .da-arrows span{
	opacity: 1;
}
.da-arrows span:after{
	content: '';
	position: absolute;

	top: 5px;
	left: 5px;


}
.da-arrows span:hover:after{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
	background-position: top right;
}
.da-arrows span.da-arrows-prev{
	left: 10%;
	background-image: url(../images/ll.png);
	background-repeat: no-repeat;
}
.da-arrows span.da-arrows-next{
	right: 10%;
	background-image: url(../images/rr.png);
	background-repeat: no-repeat;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{

	opacity: 1;
}
.da-slide-current .da-img{left: 50%;margin-left:-500px;	width:1000px;	opacity: 1;}

/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright h2{
	-webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
	animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright p{
	-webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
	animation: fromRightAnim2 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-link{
	-webkit-animation: fromRightAnim3 0.0s ease-in 0.0s both;
	-moz-animation: fromRightAnim3 0.4s ease-in 0.8s both;
	-o-animation: fromRightAnim3 0.4s ease-in 0.8s both;
	-ms-animation: fromRightAnim3 0.4s ease-in 0.8s both;
	animation: fromRightAnim3 0.4s ease-in 0.8s both;
}
.da-slide-fromright .da-img{
	-webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	-ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
	animation: fromRightAnim4 0.6s ease-in 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2{
	-webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft p{
	-webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .da-link{
	-webkit-animation: fromLeftAnim13 2.4s ease-in 3.2s both;
	-moz-animation: fromLeftAnim13 2.4s ease-in 3.2s both;
	-o-animation: fromLeftAnim13 2.4s ease-in 3.2s both;
	-ms-animation: fromLeftAnim13 2.4s ease-in 3.2s both;
	animation: fromLeftAnim13 2.4s ease-in 3.2s both;
}
.da-slide-fromleft .da-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 50%;margin-left:-500px; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright h2{
	-webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
	animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright p{
	-webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
	animation: toRightAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toright .da-link{
	-webkit-animation: toRightAnim3 0.4s ease-in both;
	-moz-animation: toRightAnim3 0.4s ease-in both;
	-o-animation: toRightAnim3 0.4s ease-in both;
	-ms-animation: toRightAnim3 0.4s ease-in both;
	animation: toRightAnim3 0.4s ease-in both;
}
.da-slide-toright .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in both;
	-moz-animation: toRightAnim4 0.6s ease-in both;
	-o-animation: toRightAnim4 0.6s ease-in both;
	-ms-animation: toRightAnim4 0.6s ease-in both;
	animation: toRightAnim4 0.6s ease-in both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft h2{
	-webkit-animation: toLeftAnim1 0.6s ease-in both;
	-moz-animation: toLeftAnim1 0.6s ease-in both;
	-o-animation: toLeftAnim1 0.6s ease-in both;
	-ms-animation: toLeftAnim1 0.6s ease-in both;
	animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft p{
	-webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	-ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
	animation: toLeftAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toleft .da-link{
	-webkit-animation: toLeftAnim3 0.4s ease-in both;
	-moz-animation: toLeftAnim3 0.4s ease-in both;
	-o-animation: toLeftAnim3 0.4s ease-in both;
	-ms-animation: toLeftAnim3 0.4s ease-in both;
	animation: toLeftAnim3 0.4s ease-in both;
}
.da-slide-toleft .da-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	animation: toLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 50%;margin-left:-500px;  opacity: 1; }
	40%{ left: 70%;  opacity: 1; }
	90%{ left: 0%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
.container .cpzs {
	margin-top:150px;
	height: 380px;
	width: 1000px;
	margin-left:12.5%;
	
	background-color: #FFF;

}

.container .cpbg{
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
}
.container .zjlb{
	background-image: url(../images/bg3.jpg);
	background-repeat: no-repeat;
}


/*上滑*/
.example{}
.example ol{position:relative;width: 80px;height: 20px;top:-30px;left:60px;}
.example ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #fff;}
.example ol li.seleted{background: #1AA4CA;}

.example1{}
.example1 ol{position:relative;width: 80px;height: 20px;top:-30px;left:60px;}
.example1 ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #fff;}
.example1 ol li.seleted{background: #1AA4CA;}

.example2{}
.example2 ol{position:relative;width: 80px;height: 20px;top:-30px;left:60px;}
.example2 ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #fff;}
.example2 ol li.seleted{background: #1AA4CA;}
/*上滑*/
.luara-top{position:relative;padding:0;overflow: hidden;}
.luara-top ul{position: relative;padding: inherit;margin: 0;}
.luara-top ul li{padding: inherit;margin: inherit;list-style: none;}
.luara-top ul li img{width: inherit;height: inherit;}
/*左滑*/
.luara-left{position:relative;padding:0;overflow: hidden;}
.luara-left ul{position: relative;padding: inherit;margin: 0;}
.luara-left ul li{float: left;padding: inherit;margin: inherit;list-style: none;}
.luara-left ul li img{width: inherit;height: inherit;}


/*滚动条*/
.scrollbar{background:#eeeeee;border-radius:4px;border:1px solid #eeeeee;border-top-color:#eee;line-height:0;}
.scrollbar .handle{border-radius:4px;background:#ccc;cursor:pointer;line-height:0;
	-webkit-box-shadow:0 1px 0 #ccc;
	-moz-box-shadow:0 1px 0 #ccc;
	-o-box-shadow:0 1px 0 #ccc;
	box-shadow:0 1px 0 #ccc;
}

#vertical .slyWrap{
	width:340px;
	float:right;
}

#vertical .scrollbar{width:5px;}
#vertical .scrollbar .handle{
	height:7px;
	width:7px;
	position: absolute;
	z-index: 9999;
	left:-1px;
	
	
}

#vertical .example1{position:relative;}
#vertical .example1 .sly{width:320px;height:310px;}
#vertical .example1 .sly ul{width:100%;height:100%;overflow:hidden;}
#vertical .example1 .sly ul li{margin:0 0 1px 0;font-size:14px;line-height:30px; text-align:left; text-indent:28px;}
#vertical .example1 .scrollbar{position:absolute;top:0;right:10px;height:305px;}

#vertical .example2{position:relative;}
#vertical .example2 .sly{width:445px;margin-left:25px;height:500px;border:1px solid #aaa;background:#fff; }
#vertical .example2 .sly > div{padding:1em 1.5em;}
#vertical .example2 .scrollbar{position:absolute;top:0;left:10px;height:500px;}
#vertical .slyWrap.example1 .sly div p {text-align:left;
	font-size: 14px;
	line-height: 30px;
	color: #666666;
	padding-left:6px;
}
#vertical .slyWrap.example1 .sly div h5 {
	text-align:left;
	font-size: 14px;
	line-height: 30px;
	color: #666666;
	font-weight: bold;
	padding-top: 10px;

	
}
::-moz-selection{background:#333;color:#fff;text-shadow:-1px -1px 0 #000 !important;}
::selection{background:#333;color:#fff;text-shadow:-1px -1px 0 #000 !important;}



/*尾部*/
.foots {
	background-color: #000;
	height: 110px;
	bottom: 0px;
	width: 100%;
	z-index: 9999955;


}

.foots .box {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	color: #333333;
	font-size: 12px;
	line-height: 28px;
	margin-top: 10px;
}
.foots .box .left {
	text-align: center;
}
.foots .box .right {
	text-align: center;
	
}
.foots .box .left a {
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	text-decoration: none;
}
.foots .ued {
	background-color: #dcdcdc;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color: #666;
}
.foots .wx {
	background-image: url(../images/wx.jpg);
	background-repeat: no-repeat;
	height: 110px;
	width: 110px;
	position: absolute;
	bottom: 60px;
	z-index: 9999999;
	left: 50%;
	margin-left: 320px;
}
.container #da-slider .logos {
	position: fixed;
	z-index:999999;
	height: 56px;
	width: 520px;
	left: 50%;
	top: 52px;
	margin-left: -630px;
}
.container #da-slider .logos a {
	display: block;
	height: 55px;
}
.da-slide .da-img table {
	width: 420px;
	margin-top: 167px;
	margin-left: 300px;
}
.da-slide .da-img table tr td {
	font-size: 14px;
	line-height: 29px;
}

.tc1 {height: 350px;width: 450px;position: absolute;left: 500px;top: 78px;z-index: 99;display:block;}
.tc1 .win{position:absolute;left:-110px;top:-140px;z-index:1;display:none;}
.tc1:hover .win{display:block;}

.tc2 {height: 350px;width: 450px;position: absolute;left: 500px;top: 78px;z-index: 99;display:block;border: 2px solid #999;}
.tc2 .win{position:absolute;left:-110px;top:-140px;z-index:1;display:none;}
.tc2:hover .win{display:block;}


.tc3 {height: 350px;width: 450px;position: absolute;left: 500px;top: 78px;z-index: 99;display:block;border: 2px solid #999;}
.tc3 .win{position:absolute;left:-110px;top:-140px;z-index:1;display:none;}
.tc3:hover .win{display:block;}


/*弹出*/
.bnts{
	height:150px;
	text-align:center;
	cursor:pointer;
	width: 205px;
	margin-bottom: 23px;
	margin-left: 18px;
	float:left;
}
.bnts,.bnts2,.bnts3,.bnts4,.bnts5,.bnts6,.bnts7,.bnts8,.bnts9,.bnts10,.bnts11,.bnts12,.bnts13,.bnts14,.bnts15,.bnts16,.bnts17,.bnts18,.bnts19,.bnts20,.bnts21,.bnts22,.bnts23,.bnts24{height:150px;text-align:center;cursor:pointer;width: 205px;margin-bottom: 23px;margin-left: 18px;float:left;}


#bntser{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser #close{position:relative;display:block; z-index:9999}
#bntser #close img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser .ctxt p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser2{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser2 #close2{position:relative;display:block; z-index:9999}
#bntser2 #close2 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser2 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser2 .ctxt2 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser3{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser3 #close3{position:relative;display:block; z-index:9999}
#bntser3 #close3 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser3 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser3 .ctxt3 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser4{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser4 #close4{position:relative;display:block; z-index:9999}
#bntser4 #close4 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser4 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser4 .ctxt4 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser5{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser5 #close5{position:relative;display:block; z-index:9999}
#bntser5 #close5 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser5 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser5 .ctxt5 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser6{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser6 #close6{position:relative;display:block; z-index:9999}
#bntser6 #close6 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser6 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser6 .ctxt6 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser7{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser7 #close7{position:relative;display:block; z-index:9999}
#bntser7 #close7 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser7 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser7 .ctxt7 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser8{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser8 #close8{position:relative;display:block; z-index:9999}
#bntser8 #close8 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser8 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser8 .ctxt8 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser9{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser9 #close9{position:relative;display:block; z-index:9999}
#bntser9 #close9 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser9 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser9 .ctxt9 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser10{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser10 #close10{position:relative;display:block; z-index:9999}
#bntser10 #close10 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser10 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser10 .ctxt10 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser11{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser11 #close11{position:relative;display:block; z-index:9999}
#bntser11 #close11 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser11 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser11 .ctxt11 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser12{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser12 #close12{position:relative;display:block; z-index:9999}
#bntser12 #close12 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser12 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser12 .ctxt12 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser13{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser13 #close13{position:relative;display:block; z-index:9999}
#bntser13 #close13 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser13 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser13 .ctxt13 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser14{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser14 #close14{position:relative;display:block; z-index:9999}
#bntser14 #close14 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser14 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser14 .ctxt14 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser15{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser15 #close15{position:relative;display:block; z-index:9999}
#bntser15 #close15 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser15 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser15 .ctxt15 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser16{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser16 #close16{position:relative;display:block; z-index:9999}
#bntser16 #close16 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser16 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser16 .ctxt16 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser17{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser17 #close17{position:relative;display:block; z-index:9999}
#bntser17 #close17 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser17 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser17 .ctxt17 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser18{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser18 #close18{position:relative;display:block; z-index:9999}
#bntser18 #close18 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser18 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser18 .ctxt18 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser19{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser19 #close19{position:relative;display:block; z-index:9999}
#bntser19 #close19 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser19 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser19 .ctxt19 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser20{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser20 #close20{position:relative;display:block; z-index:9999}
#bntser20 #close20 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser20 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser20 .ctxt20 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser21{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser21 #close21{position:relative;display:block; z-index:9999}
#bntser21 #close21 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser21 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser21 .ctxt21 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser22{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser22 #close22{position:relative;display:block; z-index:9999}
#bntser22 #close22 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser22 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser22 .ctxt22 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser23{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser23 #close23{position:relative;display:block; z-index:9999}
#bntser23 #close23 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser23 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser23 .ctxt23 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}

#bntser24{display:none;width:412px;height:316px;left:520px;top:80px;border: 5px solid #FFF;z-index:9999}
#bntser24 #close24{position:relative;display:block; z-index:9999}
#bntser24 #close24 img{position:absolute;top:0px;right:0px;cursor:pointer; z-index:9999}
#bntser24 .cbt{padding-top:10px; padding-left:20px; color:#ffffff;font-weight:bold;font-size:24px;line-height:48px}
#bntser24 .ctxt24 p{padding-top:0px;padding-right:20px;padding-left:20px;color:#ffffff;font-size:12px;line-height:18px;opacity:1;filter:alpha(opacity=100); margin:0px 0 8px 0;}