@charset "utf-8";

/* common*/
body{height:100%;font:12px/1.75  \5FAE\8F6F\96C5\9ED1;}
div,html,body,p,ul,ol,li,a,form,img,table,td,h1,h2,h3,h4,h5,h6,blockquote,header,section,footer,aside,nav,article,figure,figcaption,dl,dt,dd{margin:0;padding:0;}
header,section,footer,aside,nav,article,figure,figcaption{display:block;}
table{border-collapse:collapse;}
img{border:none;}
ul,li{list-style:none;}
input:focus,textarea:focus{outline:none;}
.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}
.clear{height:0px;line-height:0px;clear:both;font-size:1px;}
body,a,a:link{color:#666;}
a,a:link{text-decoration:none;}
a:hover{color:red;text-decoration:underline;}
.wraper{width:720px;margin:auto;}
.red{color:red;}
.ctl{float:left;}
.ctr{float:right;}

/*loading*/
.loading{background:#602152;-webkit-font-smoothing:subpixel-antialiased;z-index:100000;position:absolute;top:0;right:0;bottom:0;left:0;}
.loading2{-webkit-font-smoothing:subpixel-antialiased;z-index:100000;position:absolute;top:0;right:0;bottom:0;left:0;}
.loading .spinner{width:40px;height:40px;position:absolute;left:50%;top:40%;margin-left:-20px;}
.loading2 .spinner-warp{width:60px;height:60px;position:absolute;left:50%;top:40%;margin-left:-30px;background:#000;border-radius:10px}
.loading2 .spinner{width:40px;height:40px;position:absolute;left:50%;top:10px;margin-left:-20px}
.cn-spinner .container1 > div,.cn-spinner .container2 > div,.cn-spinner .container3 > div{width:10px;height:10px;background-color:#fff;border-radius:10px;-webkit-border-radius:10px;position:absolute;-webkit-animation:bouncedelay 1.2s infinite ease-in-out;animation:bouncedelay 1.2s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.cn-spinner .spinner .spinner-container{position:absolute;width:100%;height:100%;}
.cn-spinner .container2{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg);}
.cn-spinner .container3{-webkit-transform:rotateZ(90deg);transform:rotateZ(90deg);}
.cn-spinner .circle1{top:0;left:0;}
.cn-spinner .circle2{top:0;right:0;}
.cn-spinner .circle3{right:0;bottom:0;}
.cn-spinner .circle4{left:0;bottom:0;}
.cn-spinner .container2 .circle1{-webkit-animation-delay:-1.1s;animation-delay:-1.1s;}
.cn-spinner .container3 .circle1{-webkit-animation-delay:-1.0s;animation-delay:-1.0s;}
.cn-spinner .container1 .circle2{-webkit-animation-delay:-0.9s;animation-delay:-0.9s;}
.cn-spinner .container2 .circle2{-webkit-animation-delay:-0.8s;animation-delay:-0.8s;}
.cn-spinner .container3 .circle2{-webkit-animation-delay:-0.7s;animation-delay:-0.7s;}
.cn-spinner .container1 .circle3{-webkit-animation-delay:-0.6s;animation-delay:-0.6s;}
.cn-spinner .container2 .circle3{-webkit-animation-delay:-0.5s;animation-delay:-0.5s;}
.cn-spinner .container3 .circle3{-webkit-animation-delay:-0.4s;animation-delay:-0.4s;}
.cn-spinner .container1 .circle4{-webkit-animation-delay:-0.3s;animation-delay:-0.3s;}
.cn-spinner .container2 .circle4{-webkit-animation-delay:-0.2s;animation-delay:-0.2s;}
.cn-spinner .container3 .circle4{-webkit-animation-delay:-0.1s;animation-delay:-0.1s;}
@-webkit-keyframes bouncedelay{
  0%,80%,100%{-webkit-transform:scale(0.0)}
  40%{-webkit-transform:scale(1.0)}
}
@keyframes bouncedelay{
  0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0);}
  40%{transform:scale(1.0);-webkit-transform:scale(1.0);}
}

/*layout*/
body{background:#fff;}
body,html,.swiper-slide{height:100%}
.swiper-container{width:100%;height:100%;color:#fff;overflow:hidden;margin:0 auto;}
.swiper-slide{width:100%;float:left;position:relative;}
.container{margin:0 auto;position:relative;}
.cn-img img{width:100%;display:block;}

/*Basic Swiper Styles */
.swiper-container{margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden; /* Fix of Webkit flickering */z-index:1;}
.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;}
.swiper-free-mode > .swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto;}
.swiper-slide{float:left;}
.swiper-pages{height:100%;}
.scroll-container{height:100%;width:100%;}
.scroll-container .swiper-slide{width:100%;}
.page-inner{padding:15px 20px;}
.swiper-slide .title{font-style:italic;font-size:42px;margin-top:80px;margin-bottom:0;line-height:45px;text-align:center;}

/* Scrollbars */
.swiper-scrollbar{position:absolute;right:5px;top:2%;width:5px;height:96%;background:rgba(0,0,0,0.2);z-index:10;}
.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(255,255,255,0.5);border-radius:10px;}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal{-ms-touch-action:pan-y;}
.swiper-wp8-vertical{-ms-touch-action:pan-x;}

/*.cn-slidetips*/
.next{width:8%;height:30px;margin:0 auto;left:46%;bottom:1%;position:absolute}
.next img{-webkit-animation:0.5s 0.5s ease infinite alternate;-webkit-animation-name:sldearrow;-moz-animation:0.5s 0.5s ease infinite alternate;-moz-animation-name:sldearrow;animation:0.5s 0.5s ease infinite alternate;animation-name:sldearrow;width:100%;position:relative;z-index:1;bottom:6px;text-align:center;color:#1eac3b;font-size:16px;display:block;margin:0 auto;}
@-webkit-keyframes sldearrow{
  0%{bottom:0px;opacity:1;}
  100%{bottom:6px;opacity:0.6;}
}
@-moz-keyframes sldearrow{
  0%{bottom:0px;opacity:1;}
  100%{bottom:6px;opacity:0.6;}
}
@keyframes sldearrow{
  0%{bottom:0px;opacity:1;}
  100%{bottom:6px;opacity:0.6;}
}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.container{height:100%;width:100%;overflow:hidden;}

/*content*/
.grey{color:#999}
.hide{display:none}
.bmOpen{width:84%;left:8%;bottom:11%;text-align:center;z-index:1}
.bmOpen .click_btn{}
.bmOpen .logo{width:20%}
#swiper-container1{max-width:640px;background:url(../images/bg.jpg) no-repeat;background-size:100% 100%}
.am{position:absolute;}
.am img{width:100%;}
.logo{width:49%;left:4%;top:10px}
.hmBox{width:0;height:0;overflow:hidden}

/*右侧导航*/
#pagination1{position:absolute;right:5px;text-align:center;top:15%;width:15px;}
#pagination1 .swiper-pagination-switch{display:inline-block;width:8px;height:8px;border-radius:8px;background:#a28aa4;margin:5px 3px;cursor:pointer;}
#pagination1 .swiper-active-switch{background:#fff;}


/*ps1*/
.ps1 .am3,.ps2 .am3,.ps3 .am3,.ps4 .am3,.ps5 .am3,.ps6 .am3,.ps7 .am3,.ps8 .am3,.ps9 .am3,.ps10 .am3,.ps11 .am3,.ps12 .am3{width:90%;left:5%;bottom:7%;text-align:center;}
.ps1 .am2{width:86%;left:7%;top:12%}
.ps1 .am22{width:86%;left:7%;top:12%}
.ps1 .am4{width:55%;left:24%;top:49%}
.ps1 .am6{width:30%;left:36%;top:59%;text-align:center;}
.ps1 .am6 span{text-align:center;font-size:16px;color:#fdd556;}
.ps1 .city{width:100%;}
.ps1 .cy-time{margin-left:1%;margin-top:1%;width:100%;}

/*ps2*/
.ps2 .am2{width:78%;left:10%;top:12%}
.ps2 .am4{width:83%;left:9%;top:60%}

/*ps3*/
.ps3 .am2{width:78%;left:10%;top:12%}
.ps3 .am4{width:63%;top:40%;left:19%;}

/* 一元抢页 */
.swiperStyle2{font-size:0}
.swiperStyle2 .imgBox{width:42%;display:inline-block;margin:2px 2% 1% 1%;position:relative;}
.swiperStyle2 .imgBox .price{width:35px;height:30px;line-height:35px;font-size:12px;color:#fff;background:#ff266e;position:absolute;bottom:0;right:0;border-top-left-radius:25px;text-align:center;}
.swiperStyle2 .imgBox .price span{font-size:18px}
.ps3 .swiperStyle2 .pagination{width:100%;position:absolute;left:0;text-align:center;bottom:79%;}
.ps3 .swiperStyle2 .swiper-pagination-switch{display:inline-block;width:10px;height:10px;border-radius:10px;background:#fee983;margin:0 3px;}
.ps3 .swiperStyle2 .swiper-active-switch{background:#fff;}

/*ps4*/
.ps4 .am2{width:69%;left:16%;top:7%}
.ps4 .am4{width:61%;left:21%;top:33%}
.ps4 .am4 .lobox{width: 95%;}
.ps4 .pagination{position:absolute;left:2%;text-align:center;top:22%;width:100%;}
.ps4 .swiper-pagination-switch{display:inline-block;width:10px;height:10px;border-radius:10px;background:#c48cd4;margin:0 3px;cursor:pointer;}
.ps4 .swiper-active-switch{background:#fff;}

/*ps5*/
.ps5 .am2{width:74%;left:12%;top:11%}
.ps5 .am4{width:68%;left:16%;top:69%;}
.ps5 .am4 .pd{overflow:hidden;}
.ps5 .am4 .pd li{width:23%;float:left;margin-right:3px;}
.ps5 .am4 .pd li img{width:100%;}
.ps5 .am4 .text{text-align:center;margin-top:7px;}

/*ps6*/
.ps6 .am2{width:80%;left:10%;top:13%;text-align:center;}

/*ps7*/
.ps7 .am2{width:77%;left:12%;top:13%;text-align:center;}

/*ps8*/
.ps8 .am2{width:79%;left:8%;top:12%;text-align:center;}
.ps8 .am4{width:70%;left:15%;top:64%;text-align:center;}

/*ps9*/
.ps9 .am2{width:72%;left:15%;top:11%;text-align:center;}
.ps9 .am4{width:87%;left:7%;top:30%;text-align:center;}

/*ps10*/
.ps10 .am1{width:77%;left:11%;top:12%}
.ps10 .am2{width:90%;height:50%;left:5%;top:33%;text-align:center;}
.ps10 .am2 .logoImgBox{min-height:220px}
.ps10 .am2 img{width:28%;padding:3px;border:1px solid #fff;margin:1px 0;}
.ps10 .pagination{position:absolute;left:0;text-align:center;top:75%;width:100%;}
.ps10 .swiper-pagination-switch{display:inline-block;width:10px;height:10px;border-radius:10px;background:#c48cd4;margin:0 3px;cursor:pointer;}
.ps10 .swiper-active-switch{background:#fff;}

/*ps11*/
.ps11 .am2{width:57%;left:23%;top:9%;text-align:center;}
.ps11 .am4{width:79%;left:8%;top:35%;text-align:center;}
.ps11 .am5{width:78%;left:12%;top:37%;text-align:center;}

/*ps12*/
.ps12 .am2{width:76%;left:12%;top:12%;text-align:center;}
.ps12 .am4{width:74%;left:13%;top:48%;text-align:center;}

/*ps13*/
.ps13 .am2{width:57%;left:23%;top:8%;text-align:center;}
.ps13 .am4{width:47%;left:27%;top:47%;text-align:center;}
.ps13 .am5{width:50%;left:26%;top:61%;text-align:center;}
/* 城市选择 */
.cityOpen{top:10px;right:10px;padding:0 10px;text-align:center;font-size:14px;color:#fff;}
.cityOpen span{background:url(../images/s7.png) no-repeat right 4px;background-size:13px;padding-right:20px}
.citySelect{width:100%;height:100%;position:absolute;top:0;left:0;z-index:10;}
.citySelect .black_bg{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,0.8);}
.cityWarp{background:#eeeeee;position:relative;z-index:1}
.cityWarp .cityHead{width:100%;}
.cityWarp .cityHead .logo{width:100%;}
.cityWarp .cityHead .cityClose{position:absolute;top:10px;right:10px;padding:0 10px;text-align:center;font-size:14px;color:#000000;}
.cityWarp .cityHead .cityClose span{background:url(../images/s8.png) no-repeat right 6px;background-size:13px;padding-right:20px}
.cityWarp .cityBody{padding:15px 5%}
.cityWarp .cityBody .ip{font-size:14px;font-weight:bold;border-bottom:1px solid #d7d7d7;padding-bottom:3px;margin-bottom:3px}
.cityWarp .cityBody .ip span{color:#e70000;background:url(../images/s3.png) no-repeat left 2px;background-size:12px;padding-left:15px}
.cityWarp .cityBody .city{margin:0 auto;}
.cityWarp .cityBody .city a{width:17.5%;height:25px;line-height:25px;text-align:center;border:1px solid #d7d7d7;display:block;float:left;margin:7px 2% 0 0;background:#ffffff}
.cityWarp .cityBody .city .mr0{margin-right:0;}

/*领票层*/
.bmWarp .lpForm{padding:20px;margin-top:-44px;}
.bmWarp .lpForm p{height:40px;line-height:40px;margin-top:10px;position:relative;}
.bmWarp .lpForm .bmmsg{text-align:center;top:11px;color:#6b189d;}
.bmWarp .lpForm p .bmnum{color:red;font-weight:bold;text-align:center;padding:0 4px;font-size:16px;}
.bmWarp .lpForm input{height:40px;line-height:40px;border-radius:3px;border:0;background:#f2f2f2}
.bmWarp .lpForm p .name,.bmWarp .lpForm p .tel{width:90%;padding:0 5%;}
.bmWarp .lpForm .tips{height:auto;line-height:20px;margin-top:0}
.bmWarp .lpForm .lpBtn{width:100%;height:40px;line-height:40px;border-radius:3px;text-align:center;color:#fff;background:#6b189d;display:block;font-size:16px}
.bmWarp .false,.bmWarp .false2,.bmWarp .false3{background:#999!important}

/*报名*/
.baoming{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;background:url(../images/black_bg.png) repeat}
.bmWarp{width:90%;margin:15% auto;background:#fff;border-radius:5px;overflow:hidden}
.bmWarp .bmHead{height:40px;line-height:40px;background:#6b189d;color:#fff;text-align:center;font-size:16px;position:relative;}
.bmWarp .bmClose{width:40px;height:40px;position:absolute;top:0;right:0;font-size:20px}
.bmWarp .bmForm{padding:20px;}
.bmWarp .bmForm p{height:40px;line-height:40px;margin-top:10px;position:relative;}
.bmWarp .bmForm input,.bmWarp .bmForm select{height:40px;line-height:40px;border-radius:3px;border:0;background:#f2f2f2}
.bmWarp .bmForm p .name,.bmWarp .bmForm p .tel{width:90%;padding:0 5%;}
.bmWarp .bmForm p .code{width:55%;padding:0 5%;}
.bmWarp .bmForm p .area{width:100%}
.bmWarp .bmForm p .address{width:90%;padding:0 5%;}
.bmWarp .bmForm p .getCode{width:36%;height:40px;line-height:40px;border-top-right-radius:3px;border-bottom-right-radius:3px;text-align:center;color:#fff;background:#6b189d;display:block;float:right;position:absolute;top:1px;right:0}
.bmWarp .bmForm .mtBig{margin-top:20px}
.bmWarp .bmForm .tips{height:auto;line-height:20px;margin-top:0}
.bmWarp .bmForm .bmBtn{width:100%;height:40px;line-height:40px;border-radius:3px;text-align:center;color:#fff;background:#6b189d;display:block;font-size:16px}
.bmWarp .false,.bmWarp .false2,.bmWarp .false3{background:#999!important}
input[type=number]{-moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
.redPlaceholder::-webkit-input-placeholder{color:#f00;}

/*报名成功*/
.succeed{width:100%;height:100%;color:#fff;position:absolute;top:0;left:0;z-index:2;background:url(../images/bg.jpg) no-repeat;background-size:100% 100%;overflow:hidden;}
.succeed .succeedImg{width:100%;margin-top:22%}
.succeed .logo{width:26%;left:7%;top:10px}
.succeed .logo img{width:100%;}
.succeed p{text-align:center}
.succeed-p{width:75%;margin-left:13%;margin-top:0%;}
.succeed .am4{width:90%;left:5%;top:49%;}
.succeed .am4 img{width:100%;}
.succeed .succeedText1{margin:5px 0 10px 0;font-size:13px;}
.succeed .succeedText2{width:87%;margin:0 auto;padding:10px 0;border:1px solid #fdd556;font-size:15px;color:#fdd556}
.succeed .adBox{width:90%;margin:0 auto 20px auto;padding:3px 6px;background:rgba(255,255,255,0.2);border-radius:5px;overflow:scroll;}
.succeed .adBox a{display:block;}
.succeed .adBox img{width:100%;margin:3px 0;border-radius:3px}
.succeed .tips{text-align:center;color:#fff;margin-top:5px}
.succeed .ad{width: 90%;display: block;margin: 20px 5% 0 5%;}
.succeed .ad img{width: 100%}
/*通用提示*/
.comTips{width:100%;height:100%;color:#fff;position:absolute;top:0;left:0;z-index:2;background:url(../images/black_bg.png) repeat}
.tipsWarp{width:60%;margin:30% auto;background:#fff;border-radius:10px;color:#000;text-align:center;font-size:14px}
.tipsWarp .tipsBody{padding:20px 10px;}
.tipsWarp .tipsClose{padding:10px;border-top:1px solid #d7d7d7;color:#6b189d}

/*responsive*/


/*safari ip6*/
@media only screen and (min-height:558px){
  .ps1 .am4{width:50%;left:26%;top:51%;}
  .ps1 .am6{left:36%;top:61%;}
  .ps1 .am6 span{font-size:19px;}
  .ps2 .am2{width:67%;left:17%;}
  .ps3 .swiperStyle2 .pagination{bottom:80%;}
  .ps3 .swiperStyle2 .imgBox{width:47%}
  .ps3 .am2{width:65%;top:10%;left:18%;}
  .ps3 .am4{width:60%;top:40%;left:21%;}
  .ps4 .am2{width:63%;left:20%;}
  .ps4 .pagination{top:19%;left:0;}
  .ps5 .am2{width:70%;left:15%;top:10%;}
  .ps5 .am4{width:68%;left:17%;top:65%;}
  .ps6 .am2{top:11%;width:70%;left:14%;}
  .ps7 .am2{top:10%;width:71%;left:15%;}
  .ps8 .am2{width:68%;left:12%;top:10%;}
  .ps8 .am4{width:67%;left:16%;top:62%;}
  .ps10 .am1{top:9%;width:73%;left:13%;}
}


/*ip6*/
@media only screen and (min-height:627px){
  .ps1 .am4{width:50%;left:26%;top:51%;}
  .ps1 .am6{left:36%;top:61%;}
  .ps1 .am6 span{font-size:21px;}
  .ps2 .am2{width:66%;left:18%;}
  .ps3 .swiperStyle2 .pagination{bottom:80%;}
  .ps3 .am2{width:65%;top:10%;left:18%;}
  .ps3 .am4{width:66%;top:37%;left:17%;}
  .ps4 .am2{width:63%;left:20%;}
  .ps4 .pagination{top:21%;}
  .ps6 .am2{top:11%;}
  .ps7 .am2{top:11%;}
  .ps10 .am1{top:10%;}
}

/*huawei honor 6plus*/
/*@media only screen and (min-height:640px){
  .ps1 .am2{left:6%;}
  .ps1 .am4{width:50%;left:26%;top:51%;}
  .ps1 .am6{top:60%;}
  .ps1 .am6 span{font-size:18px;}
  .ps2 .am2{left:20%;width:60%;}
  .ps3 .am2{width: 53%;top:7%;left:23%;}
  .ps3 .am4{width:54%;top:30%;left:23%;}
  .ps3 .swiperStyle2 .imgBox{width: 38%;}
  .ps3 .swiperStyle2 .pagination{bottom:83%;}
  .ps4 .am4 {    width: 49%;
    left: 27%;
    top: 33%;}
  .ps4 .am4 .lobox{width: 80%;}
  .ps4 .pagination{top:20%;left:0;}
}*/

/*ip6+*/
@media only screen and (min-height:736px){
  .ps1 .am2{left:6%;}
  .ps1 .am4{width:50%;left:26%;top:51%;}
  .ps1 .am6{top:60%;}
  .ps1 .am6 span{font-size:21px;}
  .ps2 .am2{left:15%;width:68%;}
  .ps3 .swiperStyle2 .pagination{bottom:78%;}
  .ps4 .pagination{top:22%;left:-2%;}
}

/*ip4*/
@media only screen and (max-height:500px){
  .ps1 .am2{width:80%;left:10%;}
  .ps1 .am4{width:50%;left:26%;top:51%;}
  .ps1 .am6{left:36%;top:61%;}
  .ps2 .am2{width:63%;left:19%;top:11%;}
  .ps2 .am4{width:74%;left:14%;top:60%;}
  .ps3 .am2{width:68%;left:15%;top:10%;}
  .ps3 .am4{width:53%;top:38%;left:24%;}
  .ps3 .swiperStyle2 .imgBox{width: 47%;}
  .ps3 .swiperStyle2 .pagination{bottom:94%;}
  .ps4 .am2{width:59%;left:21%;top:9%;}
  .ps4 .am4{width:50%;left:25%;top:34%;}
  .ps4 .pagination{top:21%;left:0%;}
  .ps5 .am2{width:64%;left:16%;top:10%;}
  .ps5 .am4{top:67%;width:61%;left:18%;}
  .ps5 .pagination{top:67%;}
  .ps6 .am2{width:67%;left:16%;}
  .ps7 .am2{width:68%;left:16%;top:11%;}
  .ps8 .am2{width:67%;left:15%;top:10%;}
  .ps8 .am4{width:63%;left:19%;top:62%;}
  .ps9 .am2{width:57%;left:22%;top:13%;}
  .ps9 .am4{width:70%;left:15%;top:26%;}
  .ps10 .am1{width:65%;left:17%;top:11%;}
  .ps10 .am2{top:28%;}
  .ps11 .am2{width:43%;left:30%;top:10%;}
  .ps11 .am4{width:64%;left:13%;top:33%;}
  .ps11 .am5{width:65%;left:19%;top:62%;}
  .ps13 .am2{width:50%;left:26%;top:7%;}
  .ps13 .am4{width:42%;left:30%;top:45%;}
  .ps13 .am5{width:44%;left:29%;top:60%;}
  .bmOpen{width:80%;left:10%;}
}


.fat .ps1 .am2{width:77%;left:11%;}
.fat .ps1 .am4{width:42%;left:30%;top:53%;}
.fat .ps1 .am6{left:36%;top:63%;}
.fat .ps1 .am6 span{text-align:center;font-size:13px;color:#fdd556;}
.fat .ps2 .am2{width:61%;left:20%;top:12%;}
.fat .ps2 .am4{width:74%;left:14%;top:60%;}
.fat .ps3 .am2{width:57%;left:24%;top:10%;}
.fat .ps3 .swiperStyle2 .imgBox{width:47%;}
.fat  .ps3 .am4{width:55%;top:38%;left:25%;}
.fat  .ps3 .swiperStyle2 .pagination{bottom:78%;}
.fat .swiperStyle2 .imgBox .price span{width:25px;height:28px;font-size:12px;}
.fat .swiperStyle2 .imgBox .price{width: 25px;height:28px;}
.fat  .ps4 .am2{width:56%;left:25%;top:10%;}
.fat  .ps4 .am4{width:52%;left:26%;top:35%;}
.fat .ps4 .am4 .lobox{width:100%;}
.fat .ps4 .pagination{top:21%;left:-2%;}
.fat .ps5 .am2{width:64%;left:16%;top:10%;}
.fat .ps5 .am4{top:67%;width:61%;left:18%;}
.fat .ps5 .pagination{top:67%;}
.fat .ps6 .am2{width:64%;left:19%;}
.fat .ps7 .am2{width:64%;left:19%;top:11%;}
.fat .ps8 .am2{width:64%;left:18%;top:10%;}
.fat  .ps8 .am4{width:58%;left:23%;top:62%;}
.fat .ps9 .am2{width:64%;left:19%;top:13%;}
.fat .ps9 .am4{width:70%;left:15%;top:26%;}
.fat .ps10 .am1{width:67%;left:17%;top:11%;}
.fat .ps10 .am2{top:28%;}
.fat .ps11 .am2{width:43%;left:30%;top:10%;}
.fat  .ps11 .am4{width:64%;left:13%;top:33%;}
.fat .ps11 .am5{width:65%;left:19%;top:62%;}
.fat .ps13 .am2{width:50%;left:26%;top:7%;}
.fat  .ps13 .am4{width:42%;left:30%;top:45%;}
.fat .ps13 .am5{width:44%;left:29%;top:60%;}
.fat .bmOpen{width:80%;left:10%;}
/* .animation{display:none;} */
.animation{-webkit-animation-duration:1s;-webkit-animation-delay:.2s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:1s;-moz-animation-delay:.2s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both}
@-webkit-keyframes bounceIn{
  0%{opacity:0;-webkit-transform:scale(.3)}
  100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
  0%{opacity:0;-moz-transform:scale(.3)}
  100%{-moz-transform:scale(1)}
}
.bounceIn{-webkit-animation-name:bounceIn;-moz-animation-name:bounceIn}
@-webkit-keyframes bounceInDown{
  0%{opacity:1;-webkit-transform:translateY(-100%)}
  100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes bounceInDown{
  0%{opacity:1;-moz-transform:translateY(-100%)}
  100%{-moz-transform:translateY(0)}
}
.bounceInDown{-webkit-animation-name:bounceInDown;-moz-animation-name:bounceInDown}
.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn}
@-webkit-keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translateY(20px)}
  100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
  0%{opacity:0;-moz-transform:translateY(20px)}
  100%{opacity:1;-moz-transform:translateY(0)}
}
.fadeInUp{-webkit-animation-name:fadeInUp;-moz-animation-name:fadeInUp}
@-webkit-keyframes fadeInDown{
  0%{opacity:0;-webkit-transform:translateY(-20px)}
  100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
  0%{opacity:0;-moz-transform:translateY(-20px)}
  100%{opacity:1;-moz-transform:translateY(0)}
}
.fadeInDown{-webkit-animation-name:fadeInDown;-moz-animation-name:fadeInDown}
@-webkit-keyframes fadeInLeft{
  0%{opacity:0;-webkit-transform:translateX(-20px)}
  100%{opacity:1;-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeft{
  0%{opacity:0;-moz-transform:translateX(-20px)}
  100%{opacity:1;-moz-transform:translateX(0)}
}
.fadeInLeft{-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft}
@-webkit-keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translateX(20px)}
  100%{opacity:1;-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInRight{
  0%{opacity:0;-moz-transform:translateX(20px)}
  100%{opacity:1;-moz-transform:translateX(0)}
}
.fadeInRight{-webkit-animation-name:fadeInRight;-moz-animation-name:fadeInRight}