html,body,div,span,strong,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-size:100%;font-weight:normal;margin:0;padding:0;}
body{font: 14px/1.7 "Microsoft YaHei";color:#000;background-color:#fff;}
a{text-decoration:none;outline: none;}
a img,img{border:0;vertical-align: top;}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
.write{
	color:#ffffff;
}
.chi{
	color:#8c5b3f;
}
.chi2{
	color: #321200;
}
.f24{
	font-size: 24px;
}
.f18{
	font-size: 18px;
}
.f14{
	font-size: 14px;
}
.an img{
	width: 100%;
}
.cu{
	font-weight: 700;
}

/*********************分隔线************************/
.main{
	min-width:1200px;
	max-width:1920px;
	position: relative;
	overflow:hidden;
}

.content{
	background: url(../images/bg.jpg) no-repeat center top;
	height: 3850px;
}
.box1{
	width: 963px;
	height: 645px;
	margin: 0 auto;
	position: relative;
}
.logohref{
	width: 240px;
	height: 50px;
	position: absolute;
	top: 50px;
	left: 50px;
}
.box2{
	width: 1200px;
	margin: 0 auto;
	height: 600px;
}
.box2-1{
	width: 665px;
	height: 82px;
	margin: 0 auto;
}
.box2-2{
	width: 1000px;
	margin: 12px auto 0;
}
.box2-2 div{
	float: left;
}
.box2-2-1{
	background: url(../images/box2-2.png) no-repeat center top;
	width: 459px;
	height: 427px;
	margin-left: 40px;
}
.box2-2-1 div{
	width: 90%;
	padding: 5%;
}
.box2-2-1 p{
	padding-bottom: 5%;
}
.box2-2-2{
	width: 491px;
	height: 429px;
}

.box3{
	width: 1200px;
	margin: 0 auto;
	height: 720px;
}
.box3-1{
	width: 665px;
	height: 82px;
	margin: 0 auto;
}
.box3-2{
	width: 1000px;
	margin: 12px auto 0;
}
.box3-2 div{
	float: left;
}
.box3-2-1{
	background: url(../images/box3-2.png) no-repeat center top;
	width: 458px;
	height: 498px;
	margin-left: 40px;
}
.box3-2-1 div{
	width: 90%;
	padding: 5%;
}
.box3-2-1 p{
	padding-bottom: 5%;
}
.box3-2-2{
	width: 491px;
	height: 429px;
}

.box4{
	width: 1200px;
	margin: 0 auto;
	height: 950px;
}
.box4-1{
	width: 687px;
	height: 82px;
	margin: 20px auto 0;
}
.box4-2{
	width: 60%;
	margin: 20px auto 0;
	padding: 1.5%;
	border:2px solid #fff;
	font-size: 14px;
	color: #fff;
}
.box4-3{
	width: 80%;
	margin: 30px auto 0;
	text-align: center;
}
.box4-4{
	width: 60%;
	margin: 20px auto 0;
	padding: 1.5%;
	border:2px solid #fff;
	font-size: 14px;
	color: #fff;
}

.box5{
	width: 1200px;
	margin: 0 auto;
}
.box5-1{
	width: 665px;
	height: 82px;
	margin: 50px auto 0;
}
.box5-2{
	width: 1080px;
	height: 899px;
	margin: 20px auto 0;
}

.hide{display: none}
.top{
	position: fixed;bottom:30px;
	display: block;
	right: 20px;
	z-index: 10009;
}









